<div class="titleWithBack ">
    <span class="backBtnImg cursor" (click)="goToLastPage()"><img src="assets/images/backButton.png"></span>
    <h4 class="BackTitle"> {{"header.support" | translate}}</h4>
</div>
<div class="filterBody">
    <h5 class="editTitle">{{"contactSupport" | translate}}</h5>
        <form >
        <div class="profileBox" [formGroup]="conatctForm">
            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"name" | translate}}</mat-label>
                <input matInput [value]="name" readonly>
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"email" | translate}}</mat-label>
                <input matInput [value]="email" readonly>
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <!-- <mat-label>Phone number</mat-label> -->
                    <div class="d-inline country-label"></div>
                    <input matInput type="tel" ng2TelInput numbersOnly
                        [ng2TelInputOptions]="{initialCountry: countryCodeIso,separateDialCode: 'true'}"
                        (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
                        (intlTelInputObject)="telInputObject($event,countryCodeIso)"
                        (countryChange)="onCountryChange($event)" class="country-flag" formControlName="phone" minlength="10" readonly/>
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"CompanyName" | translate}}</mat-label>
                <input matInput placeholder="Company Name" readonly>
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"Designation" | translate}}</mat-label>
                <input matInput placeholder="Fleet Manager" [value]='role' readonly>
            </mat-form-field>
            

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"subject" | translate}}</mat-label>
                <mat-select formControlName='subject'>
                    <mat-option value="Bug Report">{{"BugReport" | translate}}</mat-option> 
                    <mat-option value="Feature Request">{{"FeatureRequest" | translate}}</mat-option> 
                    <mat-option value="Support">{{"Support" | translate}}</mat-option> 
                    <mat-option value="Other">{{"Other" | translate}}</mat-option> 
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100 feedback-section" appearance="outline">
                <mat-label>{{"YourFeedback" | translate}}</mat-label>
                <textarea matInput maxlength="256" #message placeholder="Ex. I need help with..." rows="5" formControlName='feedback'></textarea>
                <mat-hint class="text-count" align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
           
     
        </div>
        <!-- <ng-container class="py-3" *ngIf="isloading">
            <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
        </ng-container> -->
    <div class="BtnBlock d-flex justify-content-between">
        <div class="d-flex">
            <div class="image-upload mr-3" *ngFor="let item of imageList ; let i = index">
                <img [src]="item" alt="" >
                <svg (click)="deleteImage(i)" class="cursor" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.0451 3.48634C12.9718 3.37967 11.8985 3.29967 10.8185 3.23967V3.23301L10.6718 2.36634C10.5718 1.75301 10.4251 0.833008 8.86514 0.833008H7.11848C5.56514 0.833008 5.41848 1.71301 5.31181 2.35967L5.17181 3.21301C4.55181 3.25301 3.93181 3.29301 3.31181 3.35301L1.95181 3.48634C1.67181 3.51301 1.47181 3.75967 1.49848 4.03301C1.52514 4.30634 1.76514 4.50634 2.04514 4.47967L3.40514 4.34634C6.89848 3.99967 10.4185 4.13301 13.9518 4.48634C13.9718 4.48634 13.9851 4.48634 14.0051 4.48634C14.2585 4.48634 14.4785 4.29301 14.5051 4.03301C14.5251 3.75967 14.3251 3.51301 14.0451 3.48634Z" fill="#FF7070"/>
                    <path d="M12.8211 5.42699C12.6611 5.26033 12.4411 5.16699 12.2145 5.16699H3.7878C3.56114 5.16699 3.33447 5.26033 3.18114 5.42699C3.0278 5.59366 2.94114 5.82033 2.95447 6.05366L3.3678 12.8937C3.44114 13.907 3.53447 15.1737 5.86114 15.1737H10.1411C12.4678 15.1737 12.5611 13.9137 12.6345 12.8937L13.0478 6.06033C13.0611 5.82033 12.9745 5.59366 12.8211 5.42699ZM9.1078 11.8337H6.8878C6.61447 11.8337 6.3878 11.607 6.3878 11.3337C6.3878 11.0603 6.61447 10.8337 6.8878 10.8337H9.1078C9.38114 10.8337 9.6078 11.0603 9.6078 11.3337C9.6078 11.607 9.38114 11.8337 9.1078 11.8337ZM9.6678 9.16699H6.33447C6.06114 9.16699 5.83447 8.94033 5.83447 8.66699C5.83447 8.39366 6.06114 8.16699 6.33447 8.16699H9.6678C9.94114 8.16699 10.1678 8.39366 10.1678 8.66699C10.1678 8.94033 9.94114 9.16699 9.6678 9.16699Z" fill="#FF7070"/>
                </svg>
                    
            </div>
            <div class="uploadFileBox">
                <label class="inline-block upload p-3 cursor" for="upload">
                    <div>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.6997 7.41699C16.6997 7.67533 17.9247 9.21699 17.9247 12.592V12.7003C17.9247 16.4253 16.4331 17.917 12.7081 17.917H7.28307C3.55807 17.917 2.06641 16.4253 2.06641 12.7003V12.592C2.06641 9.24199 3.27474 7.70033 6.22474 7.42533" stroke="#C5CDD4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 12.4999V3.0166" stroke="#C5CDD4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.7904 4.87467L9.9987 2.08301L7.20703 4.87467" stroke="#C5CDD4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="uploadTitle">
                        {{"UploadFile" | translate}}
                    </div>
                    <div class="maxSizeMsg">
                        {{"maxSize" | translate}}
                    </div>
                </label>
                <input class="d-none" id="upload" type="file" (change)="uploadImage($event)" >
            </div>
        </div>
        <div class="btnSave-block">
            <button class="btn btnSave" (click)="addModal()">{{"rule.add" | translate}}</button>
        </div>
    </div>
    </form>
</div> 