@import ".../../../../../../assets/scss/variables.scss";
.group {
  background-color: $white;
  padding: 30px 20px 20px;
  border-radius: 12px;
  .headingData {
    display: flex;
    .heading {
      padding: 20px 20px 20px 20px;
      h2 {
        font: 600 16px/16px ModernEra;
        color: $Secondary_black;
        margin: 0;
      }
    }
    .type {
      background: $lightWhitecolor;
      border-radius: 8px;
      padding: 20px;
      h2 {
        font: 600 17px/16px ModernEra;
        color: $Primary_Blue;
        margin: 0;
      }
    }
  }
}

.filterBody .filterBtn.applyBtn {
  margin: 0 10px;
  padding: 9.5px 45px;
}
.w-75{
  width: 55%;
}
