<div class="titleWithBack">
  <h4 class="BackTitle">{{"harshEventColorSetting" | translate}}</h4>
</div>

<div class="manageProfile">
  <div class="perInfoBox mb-20">
    <div class="d-flex">
      <h4 class="personalInfoTitle">{{"setHarshEventColor" | translate}}</h4>
      <div class="infoCircle" triggers="click" [autoClose]="true" placement="top" container="body"
        ngbTooltip="{{'iconSetharshevent' | translate}}" #tooltip3="ngbTooltip">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 16.5C13.1325 16.5 16.5 13.1325 16.5 9C16.5 4.8675 13.1325 1.5 9 1.5C4.8675 1.5 1.5 4.8675 1.5 9C1.5 13.1325 4.8675 16.5 9 16.5ZM9.5625 12C9.5625 12.3075 9.3075 12.5625 9 12.5625C8.6925 12.5625 8.4375 12.3075 8.4375 12L8.4375 8.25C8.4375 7.9425 8.6925 7.6875 9 7.6875C9.3075 7.6875 9.5625 7.9425 9.5625 8.25L9.5625 12ZM8.31 5.715C8.3475 5.6175 8.4 5.5425 8.4675 5.4675C8.5425 5.4 8.625 5.3475 8.715 5.31C8.805 5.2725 8.9025 5.25 9 5.25C9.0975 5.25 9.195 5.2725 9.285 5.31C9.375 5.3475 9.4575 5.4 9.5325 5.4675C9.6 5.5425 9.6525 5.6175 9.69 5.715C9.7275 5.805 9.75 5.9025 9.75 6C9.75 6.0975 9.7275 6.195 9.69 6.285C9.6525 6.375 9.6 6.4575 9.5325 6.5325C9.4575 6.6 9.375 6.6525 9.285 6.69C9.105 6.765 8.895 6.765 8.715 6.69C8.625 6.6525 8.5425 6.6 8.4675 6.5325C8.4 6.4575 8.3475 6.375 8.31 6.285C8.2725 6.195 8.25 6.0975 8.25 6C8.25 5.9025 8.2725 5.805 8.31 5.715Z"
            fill="white" />
        </svg>
      </div>
    </div>

    <div class="filterBody mb-0 p-0">
      <button (click)="edit = !edit" *ngIf="edit" class="filterBtn applyBtn">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.55 3.00002L4.70829 10.2417C4.44996 10.5167 4.19996 11.0584 4.14996 11.4334L3.84162 14.1334C3.73329 15.1084 4.43329 15.775 5.39996 15.6084L8.08329 15.15C8.45829 15.0834 8.98329 14.8084 9.24162 14.525L16.0833 7.28335C17.2666 6.03335 17.8 4.60835 15.9583 2.86668C14.125 1.14168 12.7333 1.75002 11.55 3.00002Z"
            stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M10.4082 4.2085C10.7665 6.5085 12.6332 8.26683 14.9499 8.50016" stroke="white" stroke-width="1.5"
            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 18.3335H18" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        {{"edit" | translate}}
      </button>
      <button (click)="submit()" *ngIf="!edit" class="filterBtn applyBtn">
        {{"save" | translate}}
      </button>
    </div>
  </div>
  <div class="exceptionName" [ngClass]="{'active': selectedColorPicker==1}">
    <h4 class="exceptionTitle">{{"speeding" | translate}}</h4>
    <div class="color">
      <div class="color-picker">
        <input [(colorPicker)]="speedingcolorvalue" [style.background]="speedingcolorvalue" [cpOKButton]="true"
          [cpOKButtonText]="'Set Color'" [cpSaveClickOutside]="false" [cpOKButtonClass]="'setColor-button'"
          (colorPickerSelect)="speedingColor($event)" [disabled]="edit" (colorPickerOpen)="excepClick(1)" (colorPickerClose)='closeColorPicker()'  readonly />
      </div>
    </div>
  </div>
  <div class="exceptionName" [ngClass]="{'active': selectedColorPicker==2}">
    <h4 class="exceptionTitle">{{"idiling" | translate}}</h4>
    <div class="color">
      <div class="color-picker">
        <input [(colorPicker)]="idilingcolorvalue" [style.background]="idilingcolorvalue" [cpOKButton]="true"
          [cpOKButtonText]="'Set Color'" [cpSaveClickOutside]="false" [cpOKButtonClass]="'setColor-button'"
          (colorPickerSelect)="idilingColor($event)" [disabled]="edit" (colorPickerOpen)="excepClick(2)" (colorPickerClose)='closeColorPicker()'  readonly />
      </div>
    </div>
  </div>
  <div class="exceptionName" [ngClass]="{'active': selectedColorPicker==3}">
    <h4 class="exceptionTitle">{{"hardAcceleration" | translate}}</h4>
    <div class="color">
      <div class="color-picker">
        <input [(colorPicker)]="acccolorvalue" [style.background]="acccolorvalue" [cpOKButton]="true"
          [cpOKButtonText]="'Set Color'" [cpSaveClickOutside]="false" [cpPosition]="'top-right'"
          [cpOKButtonClass]="'setColor-button'" (colorPickerSelect)="accColor($event)" [disabled]="edit" (colorPickerOpen)="excepClick(3)" (colorPickerClose)='closeColorPicker()'  readonly />
      </div>
    </div>
  </div>
  <div class="exceptionName" [ngClass]="{'active': selectedColorPicker==4}">
    <h4 class="exceptionTitle">{{"harshCorner" | translate}}</h4>
    <div class="color">
      <div class="color-picker">
        <input [(colorPicker)]="corneringcolorvalue" [style.background]="corneringcolorvalue" [cpOKButton]="true"
          [cpOKButtonText]="'Set Color'" [cpSaveClickOutside]="false" [cpOKButtonClass]="'setColor-button'"
          [cpPosition]="'top-right'" (colorPickerSelect)="cornenringColor($event)" [disabled]="edit" (colorPickerOpen)="excepClick(4)" (colorPickerClose)='closeColorPicker()'  readonly />
      </div>
    </div>
  </div>
  <div class="exceptionName" [ngClass]="{'active': selectedColorPicker==5}">
    <h4 class="exceptionTitle">{{"hardBraking" | translate}}</h4>
    <div class="color">
      <div class="color-picker">
        <input [(colorPicker)]="brakingcolorvalue" [style.background]="brakingcolorvalue" [cpPosition]="'top-right'"
          [cpOKButton]="true" [cpOKButtonText]="'Set Color'" [cpSaveClickOutside]="false"
          [cpOKButtonClass]="'setColor-button'" (colorPickerSelect)="brakingColor($event)" [disabled]="edit" (colorPickerOpen)="excepClick(5)" (colorPickerClose)='closeColorPicker()'  readonly />
      </div>
    </div>
  </div>
</div>