<div class="titleWithBack ">
    <span class="backBtnImg cursor" (click)="goToLastPage()"><img src="assets/images/backButton.png"></span>
    <h4 class="BackTitle"> {{"sidebar.ruleEngineSetting" | translate}}</h4>
</div>
<div class="filterBody">
    <h5 class="editTitle">Edit rule engine setting </h5>
    <div class="editRule">
        <p class="editRuleTitle">{{"rule.editingFor" | translate}}</p>
        <p class="editRuleTitleBack">{{details?.organization?.name}}</p>
    </div>
        <form [formGroup]='addRuleForm'>
        <div class="profileBox">
            
            <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>Exception type</mat-label>
                <mat-select formControlName="exception_type" (selectionChange)="updatetype()">
                    <mat-option [value]="item?.id" *ngFor="let item of exception">{{item?.name}}</mat-option>
                    
                  </mat-select>
                  
            </mat-form-field>
            <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>Percentage of Violation</mat-label>
                <mat-select formControlName="percentage_of_violation">
                    <mat-option value="1"> <0 - 05% exeeding limit longer than time </mat-option>
                    <mat-option value="2"> <05 - 10% exeeding limit longer than time</mat-option>
                    <mat-option value="3"> >10% exeeding limit longer than time </mat-option>
                  </mat-select>
            </mat-form-field>
     
            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"rule.time" | translate}} (s)</mat-label>
                <input matInput value="9" formControlName="duration_of_violation">
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"rule.point" | translate}}</mat-label>
                <input matInput value="9" formControlName="score">
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline" *ngIf="showRange==false">
                <mat-label>{{"rule.range" | translate}} <span [innerHTML]="currentValue"></span></mat-label>
                <mat-select formControlName="road_type" (selectionChange)="update()" [disabled]="showRange">
                    <mat-option value="1">0-30</mat-option> 
                    <mat-option value="2">31-50</mat-option> 
                    <mat-option value="3">51-80</mat-option> 
                    <mat-option value="4">81-100</mat-option> 
                    <mat-option value="5">>100</mat-option> 
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="fields fileld33" appearance="outline"  *ngIf="showRange==true">
                <mat-label>Range<span [innerHTML]="currentValue"></span> </mat-label>
                <input matInput value="1" formControlName="road_type">
                <!-- <mat-select formControlName="road_type" >
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                    <mat-option value="5">>5</mat-option>
                </mat-select> -->
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"rule.weather" | translate}}</mat-label>
                <mat-select formControlName="weather">
                    <mat-option value="Snow">Snow</mat-option>
                    <mat-option value="Cold">Cold</mat-option>
             
                  </mat-select>
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"rule.roadFactor" | translate}}</mat-label>
                <mat-select formControlName="road_factor" disabled>
                    <mat-option value="City">City</mat-option>
                    <mat-option value="Outside City">Outside City Road</mat-option>
                    <mat-option value="Highway">Highway</mat-option>
             
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>{{"rule.vehCategory" | translate}}</mat-label>
                <mat-select formControlName="vehicle_category_id">
                    <mat-option [value]="item?.id" *ngFor="let item of vechilecategory">{{item?.name}}</mat-option>
             
                  </mat-select>
            </mat-form-field>
     
            <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>{{"rule.dayNight" | translate}} driving</mat-label>
                <mat-select formControlName="day_night_driving">
                    <mat-option value="Day">Day</mat-option>
                    <mat-option value="Night">Night</mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>{{"rule.dayNight" | translate}} weightage</mat-label>
                <input matInput value="9" formControlName="day_night_score">
            </mat-form-field>
            <!-- <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>Organaisation</mat-label>
                <mat-select formControlName="org_id">
                    <mat-option [value]="item?.id" *ngFor="let item of organization"> {{item?.name}} </mat-option>
                    
                </mat-select>
               
            </mat-form-field> -->
            <!-- <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>Created on</mat-label>
                <input ngxDaterangepickerMd [singleDatePicker]="true"  matInput >
            </mat-form-field>
            <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>Effective from</mat-label>
                <input ngxDaterangepickerMd [singleDatePicker]="true"  matInput >
            </mat-form-field> -->

            <mat-form-field class="fields fileld33 margin-right" appearance="outline">
                <mat-label>Created on</mat-label>
                <input   matInput formControlName="created_on" readonly>
            </mat-form-field>

            <mat-form-field class="fields fileld33 " appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="is_active">
                    <mat-option value="true">Active</mat-option>
                    <mat-option value="false">Inactive</mat-option>
                    
                  </mat-select>
            </mat-form-field>

            <mat-form-field class="fields fileld33 mr-0" appearance="outline">
                <mat-label>Effective from</mat-label>
                <input ngxDaterangepickerMd [singleDatePicker]="true" [isInvalidDate]="isInvalidDate" [autoApply]="true" matInput formControlName="effective_from" readonly>
            </mat-form-field>
        </div>
        <ng-container class="py-3" *ngIf="isloading">
            <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
        </ng-container>
    <div class="BtnBlock">
        <button class="btn btnSave" (click)="submit()">{{"rule.save" | translate}}</button>
    </div>
    </form>
</div> 