@import ".../../../../../../../assets/scss/variables.scss";


.filterBody{
    .editTitle{
        font: 600 18px/24px ModernEra;
        color: $Secondary_black;
        margin-bottom: 20px;
    }
    .editRule{
        @include flex-start;
        align-items: center;
        margin-bottom: 30px;
        .editRuleTitle{
            color: $Secondary_black;
            font: 600 16px/16px ModernEra;
            margin-bottom: 0;
            width: 228px;
        }
        .editRuleTitleBack{
            font: 600 16px/16px ModernEra;
            color: $White_labing_Yellow;
            margin-bottom: 0;
            padding: 20px 30px;
            background: $lightWhitecolor;
            border-radius: 8px;
            width: calc(100% - 228px);
        }
    }

}
.BtnBlock {
    text-align: center;
    padding: 25px;
    .btnSave {
        padding: 15px 80px;
        background: $White_labing_Yellow;
        border-radius: 100px;
        margin: 0 14px;
        font: 600 16px/22px ModernEra;
        color: $white;
    }
}

.profileBox {
    .fields {
        &.fileld33 {
            margin: 0 15px 0 0;
            &:nth-child(3n + 2) {
                margin-right: 0;
            }
        }
    }
}
.margin-right{
    margin-right: 15px !important;
}