/*NEW COLOR CODES*/
$C_Primary_Orange: #fd5e02;
$new_primary_black: #231f20; 
$C_Primary_White: #fff;
$new_header_text_color: #001e50;
$new_border_light_grey: #6d7070;
$new_blue_accent: #4dbfff;
$new_row_header_vehicles: #000;
$new_row_grey: #f2f1ff;




//sidebar color code
$C_Primary_Blue:#371987; //#490086
$C_p_Blue:#0064FF;
$C_Secondary_black:#231F20;
$C_menuBack:#371987;



//header color code
$C_whiteShadow:#E9EBF0;
$C_skyBlue:#4DBFFF;
$C_borderColorLight:#E8ECEE;
$C_Secondary_Blue:#371987;
$C_white:#ffffff;
$C_lightmixblueWhitecolor:#E0E3E7;
$C_borderColor:#C5CDD4;
$C_lightblack:#171C22;

$C_yellowBack:#EFA952;

//container color code
$helpBtn_Blue:#602AAC;
$lightWhite:#E5EEFF;

//Safe Driver Trips Vehicles Box BackColor
$C_safeBoxBack:linear-gradient(93.52deg, #39D0FF -18.56%, #3656FF 102.17%);
$C_driverBoxBack:linear-gradient(92.69deg, #6574FF 0.69%, #1B00FF 102.2%);
$C_tripBoxBack:linear-gradient(94.1deg, #C21515 -20.34%, #FF912B 102.15%);
$C_vehicleBoxBack:linear-gradient(134.92deg, #3CFFF3 -4.2%, #2815FF 108.15%);

//btn collection
$C_drak_Blue:#2962FF;

@mixin msg {
    font: 12px/18px ModernEra !important;
    padding: 3px 30px;
    color: $C_white;
    border-radius: 24px;
}


@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }