<div class="mainFilter">
  <div class="filterHeader">
    <div class="titleWithBack cursor" (click)="goToLastPage()">
      <span class="backBtnImg"><img src="assets/images/backButton.png" /></span>
      <h4 class="BackTitle">{{"v.vehicleDetailInfo" | translate}}</h4>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-8">
      <div class="tripDetailsLeft">
        <div class="vech_details">
          <div class="row p-3">
            <div class="col-md-4">
              <div class="text-center details">
                <div>
                  <h2 class="details-name">{{ vehicleData?.license_plate || "NA" }}</h2>
                  <h2>{{ "lic" | translate }}</h2>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center details">
                <div>
                  <h2 class="details-name">{{service.convertToDutch(service.formatToCeil(vehicleData?.total_distance))   || "0" }}</h2>
                  <h2>{{ "kmTrav" | translate }}</h2>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center details">
                <div>
                  <h2 class="details-name">{{service.convertToDutch(vehicleData?.total_trips)   || "0" }}</h2>
                  <h2>{{ "t.ride" | translate }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="speed-meter">
          <div class="row p-3">
            <div class="col-md-4 mt-3">
              <div class="meter-details active">
                <div class="text-center">
                  <h2>{{'vehScore' | translate}}</h2>
  
                  <ng-container
                    *ngIf="vehicleData?.vehicle_score !== '1001.0' && vehicleData?.vehicle_score !== 1001 && vehicleData?.vehicle_score !== '1001'; else elseTemplate6">
                    <ngx-gauge [type]="gaugeType" [value]="vehicleData?.vehicle_score" [thick]="15" [size]="100"
                      [min]="gaugeMin" [max]="gaugeMax" [thresholds]="thresholdConfig">
                    </ngx-gauge>
                  </ng-container>
                  <ng-template #elseTemplate6>
                    <p class="naData">NA</p>        
                  </ng-template>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mt-3">
              <div class="meter-details">
                <div class="text-center">
                  <h2>{{"t.speedScore" | translate}}</h2>
                  <ng-container
                    *ngIf="vehicleData?.speed_score !== '1001.0' && vehicleData?.speed_score !== 1001 && vehicleData?.speed_score !== '1001'; else elseTemplate5">
                    <ngx-gauge [type]="gaugeType" [value]="vehicleData?.speed_score" [thick]="15" [size]="100"
                      [min]="gaugeMin" [max]="gaugeMax" [thresholds]="thresholdConfig">
                    </ngx-gauge>
                  </ng-container>
                  <ng-template #elseTemplate5>
                    <p class="naData">NA</p>        
                  </ng-template>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mt-3">
              <div class="meter-details">
                <div class="text-center">
                  <h2>{{"idliScore" | translate}}</h2>
  
                  <ng-container
                    *ngIf="vehicleData?.idiling_score !== '1001.0' && vehicleData?.idiling_score !== 1001 && vehicleData?.idiling_score !== '1001'; else elseTemplate1">
                    <ngx-gauge [type]="gaugeType" [value]="vehicleData?.idiling_score" [thick]="15" [size]="100"
                      [min]="gaugeMin" [max]="gaugeMax" [thresholds]="thresholdConfig">
                    </ngx-gauge>
                  </ng-container>
                  <ng-template #elseTemplate1>
                    <p class="naData">NA</p>        
                  </ng-template>
  
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mt-3">
              <div class="meter-details">
                <div class="text-center">
                  <h2>{{"hardAcceleration" | translate}}</h2>
  
                  <ng-container
                    *ngIf="vehicleData?.acclaration_score !== '1001.0' && vehicleData?.acclaration_score !== 1001 && vehicleData?.acclaration_score !== '1001'; else elseTemplate2">
                    <ngx-gauge [type]="gaugeType" [value]="vehicleData?.acclaration_score" [thick]="15" [size]="100"
                      [min]="gaugeMin" [max]="gaugeMax" [thresholds]="thresholdConfig">
                    </ngx-gauge>
                  </ng-container>
                  <ng-template #elseTemplate2>
                    <p class="naData">NA</p>        
                  </ng-template>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mt-3">
              <div class="meter-details">
                <div class="text-center">
                  <h2>{{"hardBraking" | translate}} </h2>
  
                  <ng-container
                    *ngIf="vehicleData?.breaking_score !== '1001.0' && vehicleData?.breaking_score !== 1001 && vehicleData?.breaking_score !== '1001'; else elseTemplate3">
                    <ngx-gauge [type]="gaugeType" [value]="vehicleData?.breaking_score" [thick]="15" [size]="100"
                      [min]="gaugeMin" [max]="gaugeMax" [thresholds]="thresholdConfig">
                    </ngx-gauge>
                  </ng-container>
                  <ng-template #elseTemplate3>
                    <p class="naData">NA</p>        
                  </ng-template>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mt-3">
              <div class="meter-details">
                <div class="text-center">
                  <h2> {{"harshCorner" | translate}}</h2>
  
                  <ng-container
                    *ngIf="vehicleData?.cornering_score !== '1001.0' && vehicleData?.cornering_score !== 1001 && vehicleData?.cornering_score !== '1001'; else elseTemplate4">
                    <ngx-gauge [type]="gaugeType" [value]="vehicleData?.cornering_score" [thick]="15" [size]="100"
                      [min]="gaugeMin" [max]="gaugeMax" [thresholds]="thresholdConfig">
                    </ngx-gauge>
                  </ng-container>
                  <ng-template #elseTemplate4>
                    <p class="naData">NA</p>        
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vehicle-driving-score py-3 pl-3" [hidden]='!vehicleSafeScore.data || !vehicleSafeScore.data.length'>
          <h2>{{"vdScore" | translate}}</h2>
          <div class="speedChart" style="height: 270px" (click)="openChartPopup(vehicleSafeScore,4)">
            <canvas id="drivingScore"></canvas>
          </div>
        </div>
        <div class="backpolarGreen"  [hidden]='!speedProfile.time || !speedProfile.time.length'>
          <div class="graphSide">
            <div class="d-flex justify-content-between graphTab">
              <div class="graphTab__title">
                <h4 class="graphTitle text-center text-capitalize d-inline-block">
                  {{"t.speedProfile" | translate}}
                </h4>
                <!-- <img class="pl-3" src="assets/images/newIcons/export.svg"> -->
              </div>
              <div class="graphTab__checkbox">
                <button mat-button class="buttonLoad" [disabled]='checkPageSize() || isSpeedDataLoading' (click)="pageCountUpdate()">
                  <ng-container *ngIf="!isSpeedDataLoading; else elseTemplate">
                    {{"loadData" | translate}}
                  </ng-container>
                  <ng-template #elseTemplate>
                    <mat-spinner style="margin: 0 auto;" [diameter]='20'></mat-spinner>  
                  </ng-template>  
                 </button>
                <!-- <div class="graphTab__checkbox__safeScore" (click)="changecheckboxValuesecond(1)">
                  <div class="checkbox-dynamic" [ngClass]="{ activeSafeScore: safeScoreCheckboxsecond }"></div>
                  <label class="form-check-label" for="flexCheckChecked">{{"speed" | translate}}(km/h) </label>
                </div>
  
                <div class="graphTab__checkbox__otherScore limit" (click)="changecheckboxValuesecond(2)">
                  <div class="checkbox-dynamic-second" [ngClass]="{ activeOther: otherCheckboxsecond }"></div>
                  <label class="form-check-label text-capitalize" for="flexCheckChecked">
                    {{"limit" | translate}}
                  </label>
                </div> -->
              </div>
            </div>
  
            <div style="height: 250px" (click)="openChartPopup(speedProfile,1)">
              <canvas id="speedProfile"></canvas>
            </div>
          </div>
        </div>
        <div class="backpolarGreen"  [hidden]='!accProfile.time || !accProfile.time.length'>
          <div class="graphSide">
            <div class="d-flex justify-content-between graphTab">
              <div class="graphTab__title">
                <h4 class="graphTitle text-center text-capitalize d-inline-block">
                  {{"t.accProfile" | translate}}
                </h4>
                <!-- <img class="pl-3" src="assets/images/newIcons/export.svg"> -->
              </div>
              <div class="graphTab__checkbox">
                <button mat-button class="buttonLoad" [disabled]='checkPageSizeAcc() || isAccDataLoading' (click)="pageCountUpdateAcc()">
                  <ng-container *ngIf="!isAccDataLoading; else elseTemplate">
                    {{"loadData" | translate}}
                  </ng-container>
                  <ng-template #elseTemplate>
                    <mat-spinner style="margin: 0 auto;" [diameter]='20'></mat-spinner>  
                  </ng-template> 
                 </button>
                <!-- <div class="graphTab__checkbox__safeScore" (click)="changecheckboxValuesecond(1)">
                  <div class="checkbox-dynamic" [ngClass]="{ activeSafeScore: safeScoreCheckboxsecond }"></div>
                  <label class="form-check-label" for="flexCheckChecked">{{"accelerationprofile" | translate}}</label>
                </div>
  
                <div class="graphTab__checkbox__otherScore" (click)="changecheckboxValuesecond(2)">
                  <div class="checkbox-dynamic-second" [ngClass]="{ activeOther: otherCheckboxsecond }"></div>
                  <label class="form-check-label text-capitalize" for="flexCheckChecked">
                    {{"breakingprofile" | translate}}
                  </label>
                </div> -->
              </div>
            </div>
  
            <div style="height: 250px" (click)="openChartPopup(accProfile,2)">
              <canvas id="myChartAcc"></canvas>
            </div>
          </div>
        </div>
        <div class="backpolarGreen"  [hidden]='!dayNightScore.date || !dayNightScore.date.length'>
          <div class="graphSide">
            <div class="d-flex justify-content-between graphTab">
              <div class="graphTab__title">
                <h4 class="graphTitle text-center text-capitalize d-inline-block">
                  {{ "dayvsnightdrivingscore" | translate }}
                </h4>
                <!-- <img class="pl-3" src="assets/images/newIcons/export.svg"> -->
              </div>
              <div class="graphTab__checkbox">
                <div class="graphTab__checkbox__safeScore" (click)="changecheckboxValuesecond(1)">
                  <div class="checkbox-dynamic" [ngClass]="{ activeSafeScore: safeScoreCheckboxsecond }"></div>
                  <label class="form-check-label" for="flexCheckChecked">{{
                    "daydriving" | translate
                  }}</label>
                </div>
                <div class="graphTab__checkbox__otherScore" (click)="changecheckboxValuesecond(2)">
                  <div class="checkbox-dynamic-second" [ngClass]="{ activeOther: otherCheckboxsecond }"></div>
                  <label class="form-check-label text-capitalize" for="flexCheckChecked">
                    {{ "nightdriving" | translate }}
                  </label>
                </div>
  
  
  
              </div>
            </div>
  
            <div style="height: 250px" (click)="openChartPopup(dayNightScore,3)">
              <canvas id="lineChartScore"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- <div class="mapBox"> -->
        <div id="map"></div>
      <!-- </div> -->
    </div>
  </div>
</div>