<div class="titleWithBack " *ngIf="editProfile">
    <span class="backBtnImg cursor" (click)="editProfile=!editProfile"><img src="assets/images/backButton.png"></span>
    <h4 class="BackTitle">{{"editProfile" | translate}}</h4>
</div>
<div class="titleWithBack" *ngIf="!editProfile">
<h4 class="BackTitle">{{"profile" | translate}} </h4>
</div>

<div class="manageProfile">
    <div class="profileTopSec commonPadding mb-20">
        <div class="profilePicName">
            <div class="profileImgBox">
                <img *ngIf="fileLink" class="profileImg" [src]="fileLink">
                <img *ngIf="!fileLink" class="profileImg" src="assets/images/profile.png">
                <label *ngIf="editProfile && !isProfilePictureLoading" class="cam-img"  for="imageUpload"> <img class="camIcon" src="assets/images/cam.svg" alt=""> </label>
                <input id="imageUpload" type="file" class="d-none" (change)="uploadImage($event)" accept="image/*">
                <div>
                    <div class="cam-img w-100 d-flex justify-content-center mb-5" *ngIf="editProfile && isProfilePictureLoading">
                        <ng-container >
                            <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div>
                <div class="userIdRole">{{"userID" | translate}}: 7835496232</div>
                <div class="userIdRole">{{"RoleAccess" | translate}}: {{profiledetails?.role || 'Fleet Manager'}}</div>
            </div>
        </div>
        <div class="filterBody" *ngIf="!editProfile">
            <button class="filterBtn cancleBtn buttonSize" (click)="routeChangePassword()">{{"changepassword" | translate}}</button>
            <button class="filterBtn applyBtn buttonSize" (click)="editProfile=!editProfile"> <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.55 3.00002L4.70829 10.2417C4.44996 10.5167 4.19996 11.0584 4.14996 11.4334L3.84162 14.1334C3.73329 15.1084 4.43329 15.775 5.39996 15.6084L8.08329 15.15C8.45829 15.0834 8.98329 14.8084 9.24162 14.525L16.0833 7.28335C17.2666 6.03335 17.8 4.60835 15.9583 2.86668C14.125 1.14168 12.7333 1.75002 11.55 3.00002Z"
                        stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M10.4082 4.2085C10.7665 6.5085 12.6332 8.26683 14.9499 8.50016" stroke="white"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3 18.3335H18" stroke="white" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                {{"editProfile" | translate}}</button>
        </div>
        <div class="filterBody" *ngIf="editProfile">
            <button class="filterBtn applyBtn" (click)="updateProfile()">
                {{"rule.save" | translate}}</button>
        </div>
    </div>

    <!-- <div class="profileImgBox">
        <img class="profileImg" [src]="fileLink">
        <div class="cam-img">
            <label class="cursor"  for="image"><img class="camIcon" src="assets/images/cam.svg"></label>
            <input id="image" type="file" class="d-none" accept="image/*" (change)="uploadImage($event)">
        </div>
    </div> -->
    <form class="example-form" [formGroup]='updateform'>
        <div class="perInfoBox commonPadding">
            <h4 class="personalInfoTitle mb-0">{{"PersonalInformation" | translate}}</h4>
        </div>

        <div class="profileBox">

            <mat-form-field class="fields" appearance="outline">

                <mat-label>{{"firstName" | translate}} </mat-label>
                <input class="pointer disabled-input" noSpaces matInput type="text" placeholder="" formControlName='firstName'
                 disabled   readonly>
            </mat-form-field>
            <mat-form-field class="fields" appearance="outline">

                <mat-label> {{"lastName" | translate}}</mat-label>
                <input class="pointer disabled-input" noSpaces matInput type="text" placeholder="" formControlName='lastName' readonly>
            </mat-form-field>
            <mat-form-field class="fields" appearance="outline">

                <mat-label class="pointer">{{"email" | translate}}</mat-label>
                <input class="pointer disabled-input" noSpaces matInput type="text" placeholder="" formControlName='email' readonly>
            </mat-form-field>

            <mat-form-field appearance="outline" class="fields">
                <div class="d-inline country-label"></div>
                <input  matInput type="tel" ng2TelInput numbersOnly
                    [ng2TelInputOptions]="{initialCountry: countryCodeIso,separateDialCode: 'true'}"
                    (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
                    (intlTelInputObject)="telInputObject($event,countryCodeIso)"
                    (countryChange)="onCountryChange($event)" class="country-flag" formControlName="phone" [ngClass]="{'pointer': !editProfile, 'disabled-input':!editProfile }"
                    minlength="10" [readonly]="!editProfile" />
                <!-- <mat-error *ngIf="submitted && f.phoneNumber.errors" class="error">
            <div *ngIf="f.phoneNumber.errors.required">{{ getErrorMobile() }}</div>
        </mat-error> -->
            </mat-form-field>

            <!-- <mat-form-field class="fields" appearance="outline">
                <mat-label>{{"language" | translate}}</mat-label>
                <mat-select [disableOptionCentering]="true" panelClass="customSelect" placeholder="Choose facility" formControlName='language'>
                    <mat-option value="uk">English</mat-option>
                    <mat-option value="nl">Netherlands</mat-option>
                    <mat-option value="fr">French</mat-option>
                    <mat-option value="de">German</mat-option>
                    
                </mat-select>
            </mat-form-field> -->

        </div>
        <div class="perInfoBox commonPadding">
            <h4 class="personalInfoTitle mb-0">{{"CompanyInformation" | translate}}</h4>
        </div>
        <div class="profileBox">

            <mat-form-field class="fields" appearance="outline">

                <mat-label>{{"CompanyName" | translate}}</mat-label>
                <input class="pointer disabled-input" noSpaces matInput type="text" placeholder="{{'CompanyName' | translate}}" 
                    readonly>
            </mat-form-field>
            <mat-form-field class="fields" appearance="outline">

                <mat-label> {{"Designation" | translate}}</mat-label>
                <input class="pointer disabled-input" noSpaces matInput type="text" placeholder="" value="Designation" formControlName="role" readonly>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">

                <mat-label class="pointer">{{"Companyaddress" | translate}}</mat-label>
                <textarea class="pointer disabled-input" noSpaces matInput type="text" placeholder="{{'Companyaddress' | translate}}"
                     readonly></textarea>
            </mat-form-field>


            <!-- <mat-form-field class="fields" appearance="outline">
                <mat-label>{{"language" | translate}}</mat-label>
                <mat-select [disableOptionCentering]="true" panelClass="customSelect" placeholder="Choose facility" formControlName='language'>
                    <mat-option value="uk">English</mat-option>
                    <mat-option value="nl">Netherlands</mat-option>
                    <mat-option value="fr">French</mat-option>
                    <mat-option value="de">German</mat-option>
                    
                </mat-select>
            </mat-form-field> -->

        </div>
        <!-- <ng-container class="py-3" *ngIf="isTripHistoryLoading">
            <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
        </ng-container> -->
        <!-- <div>
            <button mat-button class="button-auth w-100 mb-28" (click)="updateProfile()">{{"saveChange" | translate}}<img
                    src="assets/images/right-arrow.svg"></button>
        </div> -->
    </form>
</div>