@import "../../../../assets/scss/variables.scss";


.customOrangeForSvg{
  filter: invert(39%) sepia(71%) saturate(1713%) hue-rotate(359deg) brightness(97%) contrast(109%);
}

.tripSubBox {
  border: 0.5px solid #939eaa;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 15px 12px;
  @include flex-justify;
  flex-wrap: nowrap;
  // max-width: 1440px;
  //     width: 100%;
  //     overflow-x: scroll;
  .w-21 {
    max-width: 21%;
  }
  @media (min-width:200px) and (max-width:991px){
    flex-wrap: wrap;
  }
  .tripMainBox {
    @include flex-start;
    padding: 9px 12px;
    background: $white; //$tripHistBack;
    margin-right: 12px;
    align-items: center;
  }
  .tripMiddeleBox {
    @include flex-space-between;
    flex-wrap: nowrap;

    padding: 9px 12px;
    background: $white; //$tripHistBack;
    margin-right: 12px;
    align-items: center;
    max-width: 62%;
    width: 100%;
    @media (min-width:992px) and (max-width: 1460px) {
      // order: 4;
      max-width: 51%;
      // margin-top: 20px;
      width: 100%;
      @include flex-justify;
      flex-wrap: nowrap;
    }
    @media (min-width:200px) and (max-width:991px){
      order: 4;
      margin-top:20px;
      // flex-wrap: wrap;
      max-width: 100%;
    }
  }
  .tripBoxDriver {
    @include flex-justify;
    max-width: 300px;
    width: 100%;
    align-items: center;
    padding: 9px 12px;
    background: $tripHistBack;
    margin-right: 12px;
  }
  .hrsSec {
    font: 700 8px/16px ModernEra_Bold !important;
    color: $black; //$nightTextColor;
    background: $white;
    border-radius: 24px;
    padding: 3px 12px;
  }

  .tripBox {
    // @include flex-start;
    display: flex;
    align-items: center;
    svg {
      margin-right: 6px;
    }
    .tripTitle {
      font: 700 12px/16px ModernEra_Bold !important;
      color: $black; //$nightTextColor;
    }
    .tripId {
      color: $black; //$nightTextColor;
      margin-left: 6px;
      font: 700 14px/16px ModernEra_Bold !important;
      max-width: 44px;
      width: 100%;
      @include ellipsis;
    }
    .licPlate {
      color: $black; //$nightTextColor;
      margin-left: 6px;
      font: 700 14px/16px ModernEra !important;
      max-width: 64px;
      width: 100%;
      @include ellipsis;
    }
    .driverName {
      color: $nightTextColor;
      margin-left: 6px;
      font: 700 14px/16px ModernEra !important;
      width: 120px;
      // width: 100%;
      @include ellipsis;
    }
  }
  .seprator {
    margin: 0 22px 0px 0px;
    // img{
    //   height: 2px
    // }
    // border-right: 1px solid $borderColor;
  }
  .date {
    @include line-clamp;
    font: 700 12px/18px ModernEra_Bold !important;
    color: $black; //$Secondary_black;
    margin-bottom: 4px;
  }
  .detail {
    font: 700 11px/18px ModernEra_Bold !important;
    color: $new_list_text_color; //$Secondary_black;
    margin-bottom: 0;
    &.fromAddress {
      // max-width: 157px;
      width: 100%;
      @include line-clamp;
    }
    &.toAddress {
      // max-width: 190px;
      width: 100%;
      @include line-clamp;
    }
  }
  .safeBox {
    padding: 10px 14px;
    background: $safeBackColor;
    text-align: center;
    border-radius: 7px;
    display: flex;
    align-items: center;
    @media (max-width: 1460px) {
      margin: 0 10px;
    }
    .safeTitle {
      font: 700 18px/16px ModernEra_Bold !important;
      color: $Secondary_Alerts;
      margin-bottom: 8px;
    }
    .safeDesc {
      font: 700 12px/18px ModernEra !important;
      color: $Secondary_Alerts;
      max-width: 90px;
      width: 100%;
      margin-bottom: 0;
      @media (max-width: 1460px) {
        max-width: 100px;
        width: 100%;
      }
    }
  }
  .centerBox {
    margin: 0 34px;
  }
  ul {
    list-style: none;
    @include flex-start;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    flex-wrap: nowrap;

    li {
      &.dot {
        border-bottom: 1px dashed $Secondary_black;
        width: 135px;
        @media (max-width: 1500px) {
          width: 69px;
        }
        .detailNumber {
          margin-bottom: 0;
          font: 12px/18px ModernEra !important;
          color: $C_Primary_Orange; //$Secondary_black;

          &.safeScore {
            max-width: 195px;
            width: 100%;
            padding-right: 30px;
          }
          &.totalTime {
            @media (max-width: 1200px) {
              padding-right: 20px;
            }
          }

          &.driverNameText {
            // max-width: 270px;
            // width: 100%;
          }

          span {
            color: $Primary_Blue;
            margin-left: 8px;
          }
        }

        // &:nth-child(3) {
        //   padding: 10px 8px;
        //   border: 1px solid $Secondary_Blue;
        //   border-radius: 29px;
        // }
      }
    }
    .img-gps {
      svg {
        path {
          fill: $Secondary_black;
        }
      }
    }
  }

  //   .tripFirstBox {
  //     @include flex-justify;
  //     @include border-bottom;
  //     align-items: center;
  //     padding: 24px 17px 17px;
  //     position: relative;

  //     p {
  //       margin-bottom: 0;
  //     }

  //     .detailNumber {
  //       margin-bottom: 0;
  //       font: 12px/18px ModernEra !important;
  //       color: $Secondary_black;

  //       &.safeScore {
  //         max-width: 195px;
  //         width: 100%;
  //         padding-right: 30px;
  //       }

  //       &.driverNameText {
  //         // max-width: 270px;
  //         // width: 100%;
  //       }

  //       span {
  //         color: $Primary_Blue;
  //         margin-left: 8px;

  //       }
  //     }

  //     &.tripSecondBox {
  //       padding: 8px 17px 17px;
  //       border: none;

  //       ul {
  //         list-style: none;
  //         @include flex-start;
  //         align-items: center;
  //         padding: 0;
  //         margin: 0 auto;

  //         li {
  //           &.dot {
  //             border-bottom: 1px dashed $Secondary_Blue;
  //             width: 35px;
  //           }

  //           &:nth-child(3) {
  //             padding: 10px 8px;
  //             border: 1px solid $Secondary_Blue;
  //             border-radius: 29px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  .tripRight {
    position: relative;
    width: 30px;
    @media (max-width: 1460px) {
      width: 50px;
    }
    // width: 100%;
    .export {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }

    .warningImg {
      position: absolute;
      right: 5px;
      top: 5px;
    }

    .warningDrop {
      position: relative;

      .waringDropDown {
        position: absolute;
        top: 30px;
        right: 0;
        @include mainBoxwithBack;
        width: 333px;
        max-height: 242px;
        overflow-y: auto;
        padding: 10px 0;
        z-index: 3;

        .dataAcceleration {
          padding: 12px 32px 12px 20px;
          @include flex-justify;
          @include border-bottom;

          &:nth-last-child(1) {
            border: none;
          }

          p {
            font: 600 14px/20px ModernEra !important;
            margin-bottom: 0;
          }

          .warningTitle {
            color: $danger;
          }

          .warningCount {
            color: $Primary_Blue;
          }
        }
      }
    }
  }

  // .fileld33 {
  //   flex-basis: calc(33.33% - 10px);
  //   max-width: calc(33.33% - 10px);
  //   margin: 0 6px 0;
  // }

  // .fileld30 {
  //   flex-basis: calc(30% - 10px);
  //   max-width: calc(30% - 10px);
  //   margin: 0 6px 0;
  // }

  // .fileld25 {
  //   flex-basis: calc(27% - 10px);
  //   max-width: calc(27% - 10px);
  //   margin: 0 6px 0;
  // }
  // @media (max-width:1302px){
  //     .img-gps{
  //       display: none;
  //     }
  // }
  // @media (max-width:1238px){
  //   .dot{
  //     display: none;
  //   }
}

::ng-deep .mat-tooltip {
  background: $white;
  color: $nightTextColor !important;
  font:700 14px/16px ModernEra !important;
  box-shadow: 6.0px 12.0px 12.0px hsl(0deg 0% 0% / 0.31) !important;
}