@import "../../../assets/scss/variables.scss";

.mat-drawer-container {
  height: 100vh;
  position: relative;
  ::ng-deep{
    .mat-drawer-content{
        overflow: hidden !important;
    }
 }
}

.btnExpand {
  position: absolute;
  // top:  50px;
  // left: -10px;
  bottom: 80px;
  left: 0;
  button{
    z-index: 999;
  }
}

.main-sec {
  min-height: 100vh;

  .content-wrapper {
    background-color: $new_main_bg_color; //#efedf5;
    padding: 24px 44px;
    height: calc(100vh - 75px);
    overflow-y: scroll;
    @media(max-width:1300px){
      padding: 15px 16px;
    }

    .helpBtn {
      position: fixed;
      bottom: 50px;
      right: 50px;

      .btn-help {
        font: 600 18px/20px ModernEra;
        padding: 13px 30px 13px 13px;
        background: $helpBtn_Blue;
        border-radius: 30px 6px 30px 30px;
        color: $white;
      }
    }
  }
}

::ng-deep .mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: $White_labing_Black;
}
