.data{
    margin-top: 8px;
}
.main-snack{
    // padding:10px 20px;

    // background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #F44336;
    span{
        color:  #001E50;
        font-size: 14px;
    }
    button{
        ::ng-deep{
            mat-icon{
                color: #001E50;
            }
        }
    }
    img{
        margin-right: 5px;
    }
}
