@import "../../../../assets/scss/variables.scss";
.heading{
    h4{ 
        font: 600 24px/21px ModernEra;;
        color: $Secondary_black;
        
    }
}
.content{
    h5{
        font: 400 18px/21px ModernEra;
        color: $Secondary_black;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.category-update-number{
    padding: 3px 0px 0px 5px;
}
.color{
    color: $Secondary_black;;
}