@import "../../../assets/scss/variables.scss";

.leftSec {
    max-width: 710px;
    width: 100%;
    background-color: $lightblue;
    min-height: 100vh;
    padding: 90px 53px;

    @media(max-width:1250px) {
        padding: 60px 40px 30px;
        max-width: 520px;
        width: 100%;
    }

    @media(max-width:991px) {
        display: none;
    }

    .bannerImg {
        padding: 160px 0 64px 0;

        @media(max-width:1440px) {
            padding: 100px 0 50px 0;
        }
    }

    .detailSec {
        max-width: 552px;
        margin: 0 auto;
        text-align: center;
        padding: 10px;

        h2 {
            color: $white;
            font: 700 32px/40px ModernEra;
        }

        p {
            color: $white;
            font: 500 18px/29px ModernEra;
        }
    }
}

.rightSec {
    width: calc(100% - 710px);
    margin: 0 auto;
    position: relative;

    @media(max-width:1250px) {
        width: calc(100% - 520px);
    }

    @media(max-width:991px) {
        width: 100%;
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 410px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        p {
            font-family: "ModernEra";
            font-size: 16px;
            line-height: 16px;
            color: $fgray;
            margin-bottom: 20px;
            font: 16px/16px ModernEra;
        }
    }
}



.wrapper-header {
    background: transparent;

    .landuageSel {
        .mat-select {
            display: inline-block;
            width: 108px;
            border: 1px solid $matBorder;
            border-radius: 10px;
            padding: 8px;
            font: 16.8px/24px ModernEra;
            color: $Secondary_black;
        }
    }

    ::ng-deep .mat-select-value {
        padding-left: 35px !important;
    }

}