@import "../../../../assets/scss/variables.scss";
.chPassBox {
  border-radius: 24px;
  max-width: 628px;
  width: 100%;
  background: $white;
  box-shadow: 0px 25px 75px rgba(87, 84, 160, 0.15);
  padding: 34px 32px;
  margin: 90px auto;
  .personalInfoTitle {
    font: 700 14px/17px ModernEra;
    color: $tooltipsTextColor;
  }
}
::ng-deep .change_password {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #f44336 !important;
  padding: 14px 6px !important;
}
.button-auth-profile {
  background: $toggleActive;
  border: $White_labing_Yellow;
  border-radius: 4px;
  color: $white;
  padding: 15px;
  // font: 600 18px/22px ModernEra;
  font: 600 18px/22px ModernEra;
//   max-width: 200px;
  svg {
    path {
      fill: $white;
    }
  }
}
