
<div class="form-wrapper" [ngStyle]="{'background-image': ' url(' + imageUrl  + ')'}">
    <div class="bg-graphic">
        <!--forget password -->
         <div class="card-outer" *ngIf="initialPage">
            <h2 class="mb-1">{{"forget.title" | translate}}</h2>
            <p class="subtitle"> {{"subtitle" | translate}}</p>
            <form class="example-form" [formGroup]='forgetForm'>
                <mat-form-field appearance="outline">
                    <mat-label> {{"email" | translate}}</mat-label>
                    <!-- placeholder="{{'signin.enterEmail' | translate}}" -->
                    <input noSpaces matInput type="text" formControlName='email' value="wadewarren@gmail.com"  autocomplete="off">
                </mat-form-field>
                <div class="error" *ngIf="error.val">
                    <span><img src="assets/images/AlertError.svg"></span>
                    <span class="msg">{{error.msg}} </span>
                    <span class="cursor" (click)="resetForm()"><img src="assets/images/Close.svg"></span>
                </div>
                <div class="button-onboarding ">
                    <div class="backSignin cursor text-center pt-3" (click)="routeToSignin()">
                        <svg class="mr-2" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.375 10H3.625" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.25 4.375L3.625 10L9.25 15.625" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                        <span>{{"backtoSign" | translate}}</span></div>
                            <div class="d-flex justify-content-end">
                                <button mat-button class="button-auth w-100 mb-28 mt-4" (click)="submit()">{{"forget.forgetsubmit" | translate}}</button>
                            </div>
                    </div>
               
            </form>
        </div> 
          <!--forget password -->
    
            <!--Reset your password? -->
        <div class="card-outer" *ngIf="!initialPage">
            <h2 class="mb-1">{{"forget.title" | translate}}</h2>
            <p class="subtitle"> {{"forget.forgettitle" | translate}} <br> <span class="forget-email">{{forgetForm.value.email}}</span></p>
            <form class="example-form">
                <div class="button-onboarding d-flex justify-content-end"><button mat-button class="button-auth w-100 mb-28" (click)="routeToSignin()"><img class="mr-2" src="assets/images/back-arrow.svg"> {{"backtoSign" | translate}}</button></div>
            </form>
        </div>
            <!--Reset your password? -->
    </div>
    <!-- <div class="carousel-width">
        <app-text-carousel></app-text-carousel>
    </div> -->
</div>