@import ".../../../../../../../assets/scss/variables.scss";

.vehicleInfo {
    padding: 20px;
    @include mainBoxwithBack;

    .vehTitle {
        font: 600 18px/25px ModernEra;
        color: $Secondary_black;
        margin-bottom: 5px;
    }
}

.booking-table {
    th {
        font: 500 12px/18px ModernEra;
        color: $white;
    }

    .mat-sort-header-arrow {
        color: #7555cf;
    }

    td {
        &.mat-cell {
            font: 13px/16px ModernEra;
            color: #000000;
        }
    }
}

tr.mat-header-row {
    height: 34px;
    background: #604EFF;
    border-radius: 5px;
    color: #fff;
}

mat-row,
mat-footer-row,
td.mat-cell,
td.mat-footer-cell {
    border-color: transparent;
    font: 12px/18px ModernEra !important;
    color: #001E50 !important;

}

.date {
    margin-right: 20px;
    @include msg;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell {
    border-color: transparent;
    font: 12px/18px ModernEra !important;
    color: #fff !important;
}

tr.mat-row,
tr.mat-footer-row {
    &:nth-child(odd) {
        background: #F2F1FF;
        border-radius: 8px;
        height: 34px;
    }

    &:nth-child(even) {
        background: #FFFFFF;
    }
}

:host {
    ::ng-deep {
        .booking-table {

            tr.mat-row,
            tr.mat-footer-row {
                height: 34px;
            }
        }
    }
}

mat-form-field {
    letter-spacing: .22px;
    width: 100%;
}

.mat-table {
    border-collapse: separate;
    border-spacing: 0 10px !important;
}