<div class="mainFilter">
  <div class="filterHeader">
    <!-- {{"sidebar.exceptions" | translate}} -->
    Vehicle type settings
    <div>
      <button class="btn btnFiliter" (click)="changeState()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"><img src="assets/images/filter.svg">
      </button> <button class="btn btnFilterExport enable-click-event"><img src="assets/images/export.svg"></button>
    </div>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="filterBody">
      <div class="filterBodyTitle">
        <h4>Filters</h4>
        <span><img src="assets/images/close-circle.svg"></span>
        <!-- (click)="resetToLastState()" -->
      </div>
      <div class="filterSearch mb-20">
        <input type="text" placeholder="Search..." [(ngModel)]="searchString" class="form-control">
        <span class="filterSearchIcon"><img src="assets/images/search.svg"></span>
      </div>
      <div class="profileBox">
        <mat-form-field class="fields fileld50" appearance="outline">
          <mat-label>Select vehicle category</mat-label>
          <mat-select multiple>
            <!-- [formControl]="toppings" -->
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="fields fileld50" appearance="outline">
          <mat-label>Select vehicle type</mat-label>
          <mat-select multiple>
            <!-- [formControl]="toppings" -->
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex flex-wrap justify-content-between mt-2">
        <div>
        </div>
        <div class="d-flex flex-wrap">
          <div>
            <button mat-button class="filterBtn cancleBtn">Cancel</button>
            <!-- (click)="resetToLastState()" -->
          </div>
          <div>
            <button mat-button class="filterBtn applyBtn">{{"apply" | translate}}</button>
            <!-- (click)="filterApply()" -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vehicleInfo">
  <div class="d-flex flex-wrap">
    <h3 class="vehTitle">Vehicle list</h3>
    <span><img src="assets/images/export.svg"></span>
</div>

  <div class="table-responsive">
    <table mat-table [dataSource]="transactions" class="mat-elevation-z8 w-100 booking-table">
      <!-- Item Column -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Vehicle category </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
        <!-- <td mat-footer-cell *matFooterCellDef> Total </td> -->
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.cost}} </td>
        <!-- <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td> -->
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
    </table>
  </div>
</div>