@import ".../../../../../../../assets/scss/variables.scss";

.vehicleInfo {
    padding: 20px;
    @include mainBoxwithBack;
    .vehTitle {
        font: 600 18px/25px ModernEra;
        color: $Secondary_black;
        margin-bottom: 5px;
        margin-right: 16px;
    }
}

tr.mat-header-row {
    height: 34px;
    background: #604EFF;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 8px;
}

mat-form-field {
    letter-spacing: .22px;
    width: 100%;
}

.mat-table {
    border-collapse: separate;
    border-spacing: 0 10px !important;
}

:host {
    ::ng-deep {
        .booking-table {
            tr.mat-row,
            tr.mat-footer-row {
                height: 34px;
            }
        }
    }
}