<div class="mainFilter">
  <div class="filterHeader">
    Score comparision
    <div>
      <button class="btn btnFiliter" (click)="changeState()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"><img src="assets/images/filter.svg">
      </button> <button class="btn btnFilterExport enable-click-event"><img src="assets/images/export.svg"></button>
    </div>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="filterBody">
      <div class="filterBodyTitle">
        <h4>Filters</h4>
        <span><img src="assets/images/close-circle.svg"></span>
        <!-- (click)="resetToLastState()" -->
      </div>

     
          <div class="filterSearch fields  mb-20">
            <input type="text" placeholder="Search..." [(ngModel)]="searchString" class="form-control">
            <span class="filterSearchIcon"><img src="assets/images/search.svg"></span>
          </div>

          <div class="profileBox">
            <mat-form-field class="ngx-daterangepicker-action-left fields fileld50" appearance="outline">
            <mat-label>{{"selectRange" | translate}}</mat-label>   
      <input matInput ngxDaterangepickerMd [(ngModel)]="selectedShow" [showCustomRangeLabel]="true"
                [alwaysShowCalendars]="alwaysShowCalendars" [ranges]="ranges" [showClearButton]="false"
                [showCancel]="true" [linkedCalendars]="true" [isTooltipDate]="isTooltipDate"
                [isInvalidDate]="isInvalidDate" [locale]="{applyLabel: 'Set Date'}"
                (rangeClicked)="rangeClicked($event)" (datesUpdated)="datesUpdated($event)"
                [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
                [showRangeLabelOnInput]="showRangeLabelOnInput" readonly />
            <span class="calIconRight"><img src="assets/images/calendar.svg"></span> 
       </mat-form-field>
      </div>

      <div class="d-flex flex-wrap justify-content-between mt-2">
        <div>
        </div>
        <div class="d-flex flex-wrap">
          <div>
            <button mat-button class="filterBtn cancleBtn">Cancel</button>
            <!-- (click)="resetToLastState()" -->
          </div>
          <div>
            <button mat-button class="filterBtn applyBtn">{{"apply" | translate}}</button>
            <!-- (click)="filterApply()" -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Speed and road details-->
<div class="detailPage">
  <div class="tripDetails tripDetailFullwidth pb-4">
    <div class="scoreHisTop">
      <!-- <div class="scoreTopLeft" > -->
        <div class="getRide pt-1 pb-1" *ngIf="tableView=='map'">
          <p class="ridOfmax1"> Harsh Acceleration</p>
          <p class="braking"> Harsh Braking</p>
          <p class="warning"> Harsh Cornering</p>
          <p class="speed"> Speeding</p>
          <p class="idiling"> Idiling</p>
        </div>
      <!-- </div> -->
      <div class="ruleTab" *ngIf="tableView=='table'">
        <p class="active">Safe score</p>
        <p>Speeding</p>
        <p>Idiling</p>
        <p>Hash Acceleration</p>
        <p>Hash Braking</p>
        <p>Hash Cornering</p>
      </div>

      <div class="scoreTopLeft">
        <div class="">
          <mat-button-toggle-group class="historyButton" [value]='tableView' (change)="toggleChange($event.value)">
            <mat-button-toggle value="table" > <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M18.3332 5.29199C18.3332 5.63717 18.0534 5.91699 17.7082 5.91699H2.29151C1.94633 5.91699 1.6665 5.63717 1.6665 5.29199C1.6665 4.94681 1.94633 4.66699 2.29151 4.66699H17.7082C18.0534 4.66699 18.3332 4.94681 18.3332 5.29199Z"
                  fill="white" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M18.3332 10.5003C18.3332 10.8455 18.0534 11.1253 17.7082 11.1253H2.2915C1.94633 11.1253 1.6665 10.8455 1.6665 10.5003C1.6665 10.1551 1.94633 9.87532 2.2915 9.87532H17.7082C18.0534 9.87532 18.3332 10.1551 18.3332 10.5003Z"
                  fill="white" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M18.3332 15.7087C18.3332 16.0538 18.0534 16.3337 17.7082 16.3337H2.2915C1.94633 16.3337 1.6665 16.0538 1.6665 15.7087C1.6665 15.3635 1.94633 15.0837 2.2915 15.0837H17.7082C18.0534 15.0837 18.3332 15.3635 18.3332 15.7087Z"
                  fill="white" />
              </svg>
            </mat-button-toggle>
            <mat-button-toggle value="map" >
              <svg width="20" height="21" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20"
                style="enable-background:new 0 0 20 20;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                    fill: #C5CDD4;
                  }
                </style>
                <g>
                  <path class="st0" d="M13,17.8c-0.4,0-0.7-0.1-1-0.2l-4.4-2.2c-0.3-0.1-0.8-0.1-1,0l-2,1.1C3.9,17,3,17.1,2.3,16.7
                               c-0.7-0.4-1-1.2-1-2.1V6.5c0-0.7,0.5-1.6,1.1-2l3.6-2.1c0.6-0.3,1.5-0.4,2.1-0.1l4.4,2.2c0.3,0.1,0.8,0.1,1,0l2-1.1
                               c0.8-0.5,1.7-0.5,2.4-0.2c0.7,0.4,1,1.2,1,2.1v8.1c0,0.7-0.5,1.6-1.1,2l-3.6,2.1C13.9,17.7,13.5,17.8,13,17.8z M7.2,14.1
                               c0.4,0,0.7,0.1,1,0.2l4.4,2.2c0.3,0.1,0.8,0.1,1,0l3.6-2.1c0.3-0.2,0.5-0.6,0.5-0.9V5.4c0-0.5-0.2-0.9-0.4-1.1
                               c-0.3-0.2-0.7-0.1-1.2,0.2l-2,1.1C13.6,5.9,12.7,6,12,5.7L7.7,3.5c-0.3-0.1-0.8-0.1-1,0L3,5.6C2.8,5.7,2.5,6.2,2.5,6.5v8.1
                               c0,0.5,0.2,0.9,0.4,1.1c0.3,0.2,0.7,0.1,1.2-0.2l2-1.1C6.4,14.2,6.8,14.1,7.2,14.1z" />
                </g>
                <g>
                  <path class="st0"
                    d="M7.1,14.8c-0.3,0-0.6-0.3-0.6-0.6V3.3c0-0.3,0.3-0.6,0.6-0.6S7.7,3,7.7,3.3v10.8C7.7,14.5,7.5,14.8,7.1,14.8z" />
                </g>
                <g>
                  <path class="st0" d="M13.1,17.3c-0.3,0-0.6-0.3-0.6-0.6V5.5c0-0.3,0.3-0.6,0.6-0.6s0.6,0.3,0.6,0.6v11.1
                               C13.7,17,13.4,17.3,13.1,17.3z" />
                </g>
              </svg>

            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
    <div *ngIf="tableView=='map'">  
        <div class="tripDetailTopBox">
      <h4 class="scroreTitle">Caculated Exception</h4>
      <div class="speedRoadSec">
        <div class="speedRoadLeft">
          <div class="scoreBoxGuage">
            <div class="speedGraphTitle"> Harsh Acceleration</div>
            <ngx-gauge [type]="gaugeType" [value]="idling" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
            </ngx-gauge>
          </div>
          <div class="scoreBoxGuage">
            <div class="speedGraphTitle"> Harsh Braking</div>
            <ngx-gauge [type]="gaugeType" [value]="speed" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
            </ngx-gauge>
          </div>
          <div class="scoreBoxGuage">
            <div class="speedGraphTitle"> Harsh Cornering</div>
            <ngx-gauge [type]="gaugeType" [value]="cornering" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
            </ngx-gauge>
          </div>
        </div>
        <div class="speedRoadRight">
          <div class="scoreBoxRight">
            <div class="filerHalf">
              <div class="speedGraphTitle"> Speeding</div>
              <ngx-gauge [type]="gaugeType" [value]="acceleration" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
              </ngx-gauge>
            </div>
            <div class="filerHalf">
              <div class="speedGraphTitle"> Idiling</div>
              <ngx-gauge [type]="gaugeType" [value]="braking" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
              </ngx-gauge>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TSP Exception -->
    <div class="tripDetailTopBox" >
      <h4 class="scroreTitle">TSP Exception </h4>
      <div class="speedRoadSec">
        <div class="speedRoadLeft">
          <div class="scoreBoxGuage">
            <div class="speedGraphTitle"> Harsh Acceleration</div>
            <ngx-gauge [type]="gaugeType" [value]="idling" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
            </ngx-gauge>
          </div>
          <div class="scoreBoxGuage">
            <div class="speedGraphTitle"> Harsh Braking</div>
            <ngx-gauge [type]="gaugeType" [value]="speed" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
            </ngx-gauge>
          </div>
          <div class="scoreBoxGuage">
            <div class="speedGraphTitle"> Harsh Cornering</div>
            <ngx-gauge [type]="gaugeType" [value]="cornering" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
            </ngx-gauge>
          </div>
        </div>
        <div class="speedRoadRight">
          <div class="scoreBoxRight">
            <div class="filerHalf">
              <div class="speedGraphTitle"> Speeding</div>
              <ngx-gauge [type]="gaugeType" [value]="acceleration" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
              </ngx-gauge>
            </div>
            <div class="filerHalf">
              <div class="speedGraphTitle"> Idiling</div>
              <ngx-gauge [type]="gaugeType" [value]="braking" [thick]=15 [size]=100 [thresholds]="thresholdConfig" [min]='-10' [max]='10'>
              </ngx-gauge>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="tripDetailTopBox" *ngIf="tableView=='table'">
      <div>
        <div id='chartDiv'>
          <canvas id="myChart"></canvas>
        </div>
        <h5 class="scroreTitle text-center">Caculated Exception</h5>
      </div>
      <div id='chartDiv'>
        <div id='chartDiv'>
          <canvas id="myChartAcc"></canvas>
        </div>
        <h5 class="scroreTitle text-center">TSP Exception</h5>

      </div>
    </div>
  </div>
<!-- </div> -->
<!-- Speed and road details-->