@import "../../../../assets/scss/variables.scss";

.card-background {
  min-height: 330px;
  // max-width: 268px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 24px;
  // margin-top: 10px;
  display: inline-block;
//   max-width: 48%;
  width: 100%;
  

  &__heading {
    h2 {
      color: $Secondary_black;
      @include ellipsis;
      padding-top: 15px;
      font: 700 14px/16px ModernEra_Bold;
      &.safari {
        font: 600 14px/24px ModernEra_semiBold !important;
      }
    }
  }
  .number {
    width: 20%;
    margin-top: 29px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // span{

    // }
  }
  &__content {
    // border: 1px solid red;
    text-align: center;
    margin-top: 25px;
    margin-left: 2%;
    width: 78%;
    padding: 12px 6px;
    border-radius: 27px;

    .test {
      color: $Secondary_black;
      font: 700 12px/16px ModernEra;
      margin: 0;
      justify-content: center;
      .left {
        // width: 60%;
        color: $Secondary_black;
        font: 700 12px/16px ModernEra;
        @include ellipsis;
        span {
          font: 500 13px/16px ModernEra_semiBold;
        }
      }
    }
  }
}
@media (max-width: 1373px){
    .card-background{
        // max-width: 47%;
    }
  }
.wrap-text {
  @include ellipsis;
  // max-width: 50px;
}
.wrapWord {
  @include ellipsis;
  // margin-top: 1px;
}
.safeScorefont {
  font: 800 13px/16px ModernEra_Extrabold;
}
