<div class="mainFilter">
    <div class="filterHeader">
        {{"driver" | translate}}
        <div>
            <button class="btn btnFiliter" (click)="changeState()" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample"><img src="assets/images/filter.svg">
            </button> <button class="btn btnFilterExport enable-click-event"><img
                    src="assets/images/export.svg"></button>
        </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="filterBody">
            <div class="filterBodyTitle">
                <h4>Filters</h4>
                <span (click)="changeState()"><img src="assets/images/close-circle.svg"></span>
            </div>
            <div class="filterSearch mb-20">
                <input type="text" placeholder="Search..." [(ngModel)]="searchString" class="form-control">
                <span class="filterSearchIcon"><img src="assets/images/search.svg"></span>
            </div>
            <div class="profileBox">
                <mat-form-field class="fields fileld50" appearance="outline">
                    <mat-label>{{'d.selectDriver' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedDriver" [ngModelOptions]="{standalone: true}"
                        [disableOptionCentering]="true" panelClass="customSelect"
                        placeholder="{{'d.chooseDriver' | translate}}">
                        <div class="searchSelect border-bottom">
                            <input class='searchDropdown' type="text" placeholder="{{'search' | translate}}"
                                [(ngModel)]="searchDriver">
                            <mat-icon><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.58973 9.59067C9.76496 9.41543 10.0491 9.41543 10.2243 9.59067L12.7013 12.0677C12.8765 12.2429 12.8765 12.527 12.7013 12.7022C12.526 12.8775 12.2419 12.8775 12.0667 12.7022L9.58973 10.2253C9.4145 10.05 9.4145 9.7659 9.58973 9.59067Z"
                                        fill="#848588" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M6.46094 2.06443C4.03226 2.06443 2.06344 4.03328 2.06344 6.46198C2.06344 8.89069 4.03226 10.8595 6.46094 10.8595C8.88961 10.8595 10.8584 8.89069 10.8584 6.46198C10.8584 4.03328 8.88961 2.06443 6.46094 2.06443ZM1.16602 6.46198C1.16602 3.53764 3.53663 1.16699 6.46094 1.16699C9.38524 1.16699 11.7559 3.53764 11.7559 6.46198C11.7559 9.38633 9.38524 11.757 6.46094 11.757C3.53663 11.757 1.16602 9.38633 1.16602 6.46198Z"
                                        fill="#848588" />
                                </svg>
                            </mat-icon>
                        </div>
                        <mat-option [value]="'all'">{{('all' | translate) | titlecase}}</mat-option>
                        <mat-option [value]="item?.id"
                            *ngFor="let item of driverList  | filter: searchDriver : 'driver'">{{item?.first_name}}
                            {{item?.last_name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fields fileld50 ngx-daterangepicker-action" appearance="outline">
                    <mat-label>{{"selectRange" | translate}}</mat-label>
                    <input matInput ngxDaterangepickerMd [(ngModel)]="selectedShow" [showCustomRangeLabel]="true"
                        [alwaysShowCalendars]="alwaysShowCalendars" [ranges]="ranges" [showClearButton]="false"
                        [showCancel]="true" [linkedCalendars]="true" [isTooltipDate]="isTooltipDate"
                        [isInvalidDate]="isInvalidDate" [locale]="{applyLabel: 'Set Date'}"
                        (rangeClicked)="rangeClicked($event)" (datesUpdated)="datesUpdatedDashboard($event)"
                        [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
                        [showRangeLabelOnInput]="showRangeLabelOnInput" readonly />
                    <span class="calIconRight"><img src="assets/images/calendar.svg"></span>
                </mat-form-field>
            </div>

            <div class="d-flex flex-wrap justify-content-between mt-2">
                <div>
                    <button mat-button class="filterBtn exportBtn">Export
                        <img class="exprtBtnImg" src="assets/images/exportBtn.svg"></button>
                </div>
                <div class="d-flex flex-wrap">
                    <div>
                        <button mat-button class="filterBtn resetBtn" (click)="resetFilter()">Reset</button>
                    </div>
                    <div>
                        <button mat-button class="filterBtn applyBtn" (click)="filterApply()">{{"apply" |
                            translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vehicalSec">
    <div class="box vehicalBox">
        <div class="leftsec">
            <p class="title"> {{"driver" | translate}}</p>
            <h4 class="value">{{service.convertToDutch(dashboardData?.total_drivers) || '0'}}</h4>
        </div>
        <div class="mapImg">
            <img src="assets/images/delivery-truck.png">
        </div>
    </div>
    <div class="box driven">
        <div class="leftsec">
            <p class="title"> {{"d.noTrips" | translate}}</p>
            <h4 class="value">{{service.convertToDutch(dashboardData?.total_rides) || '0'}}</h4>
        </div>
        <div class="truckImg">
            <img src="assets/images/truck.png">
        </div>
    </div>
    <div class="box behaviour">
        <div class="leftsec">
            <p class="title" *ngIf="!ruleId"> {{"safeDrivingScore" | translate}}</p>
            <p class="title" *ngIf="ruleId == 'SpeedViolation'"> {{"t.speedScore" | translate}}</p>
            <p class="title" *ngIf="ruleId == 'BreakingViolation'"> {{"t.deaccScore" | translate}}</p>
            <p class="title" *ngIf="ruleId == 'AccelerationViolation'"> {{"t.accScore" | translate}}</p>
            <p class="title" *ngIf="ruleId == 'IdlingViolation'"> {{"idiling" | translate}} score</p>
            <p class="title" *ngIf="ruleId == 'CorneringViolation'"> {{"t.cornerScore" | translate}}</p>

            <h4 class="value">{{service.convertToDutch(dashboardData?.safe_driving_score) || '0'}}
                <!-- <ng-container *ngIf="dashboardData?.safe_driving_score_change>=0; else elseTemplate1">
                    <span><img src="assets/images/send.svg">{{dashboardData?.safe_driving_score_change || '0'}}%</span>
                </ng-container>
                <ng-template #elseTemplate1>
                    <span class="yellow"><img src="assets/images/down-arrow.svg">{{dashboardData?.safe_driving_score_change
                        || '0'}}%</span>
                </ng-template> -->
            </h4>
        </div>
        <div class="truckImg">
            <img src="assets/images/vr-gaming-steering.png">
        </div>
    </div>
</div>

<!--Driver information-->
<div class="vehicleInfo mb-20">
    <!-- <h3 class="vehTitle"></h3> -->
    <div class="tripHisTopLeft">
        <h4 class="tripTitle mb-0 mr-30">{{"d.driverInfo" | translate}}</h4>
        <mat-button-toggle-group class="historyButton" [value]='tableView' (change)="toggleChange($event.value)">
            <mat-button-toggle value="tableView"> <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M18.3332 5.29199C18.3332 5.63717 18.0534 5.91699 17.7082 5.91699H2.29151C1.94633 5.91699 1.6665 5.63717 1.6665 5.29199C1.6665 4.94681 1.94633 4.66699 2.29151 4.66699H17.7082C18.0534 4.66699 18.3332 4.94681 18.3332 5.29199Z"
                        fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M18.3332 10.5003C18.3332 10.8455 18.0534 11.1253 17.7082 11.1253H2.2915C1.94633 11.1253 1.6665 10.8455 1.6665 10.5003C1.6665 10.1551 1.94633 9.87532 2.2915 9.87532H17.7082C18.0534 9.87532 18.3332 10.1551 18.3332 10.5003Z"
                        fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M18.3332 15.7087C18.3332 16.0538 18.0534 16.3337 17.7082 16.3337H2.2915C1.94633 16.3337 1.6665 16.0538 1.6665 15.7087C1.6665 15.3635 1.94633 15.0837 2.2915 15.0837H17.7082C18.0534 15.0837 18.3332 15.3635 18.3332 15.7087Z"
                        fill="white" />
                </svg>
            </mat-button-toggle>
            <mat-button-toggle value="map">
                <svg width="21" height="20" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20"
                    style="enable-background:new 0 0 20 20;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #FFFFFF;
                        }
                    </style>
                    <g>
                        <path class="st0" d="M10.8,19.1H9.2c-2.8,0-4.5-0.6-4.8-3.5c-0.1-0.4-0.1-0.8-0.1-1.5V5.8c0-0.6,0-1.1,0.1-1.5
		c0.3-2.9,2-3.4,4.8-3.4h1.7c2.8,0,4.5,0.6,4.8,3.5c0.1,0.4,0.1,0.8,0.1,1.5v8.3c0,0.6,0,1.1-0.1,1.5C15.4,18.5,13.7,19.1,10.8,19.1
		z M9.2,2.4C6.5,2.4,6,2.9,5.8,4.5c0,0.4-0.1,0.7-0.1,1.3v8.3c0,0.6,0,1,0.1,1.3c0.2,1.6,0.7,2.1,3.3,2.1h1.7c2.7,0,3.2-0.5,3.3-2.1
		c0-0.4,0.1-0.7,0.1-1.3V5.8c0-0.6,0-1-0.1-1.3c-0.2-1.6-0.7-2.1-3.3-2.1H9.2z" />
                    </g>
                    <g>
                        <path class="st0"
                            d="M4.7,16.3H4.4c-2.6,0-3.5-0.9-3.5-3.5V7.2c0-2.6,0.9-3.5,3.5-3.5h0.3c0.1,0,0.3,0,0.4,0c0.2,0,0.4,0.1,0.5,0.3
		c0.1,0.2,0.2,0.4,0.2,0.6c0,0.3-0.1,0.7-0.1,1.3v8.3c0,0.6,0,1,0.1,1.3c0,0.2,0,0.4-0.2,0.6c-0.1,0.2-0.3,0.3-0.5,0.3
		C5,16.3,4.9,16.3,4.7,16.3z M4.3,5.2c-1.6,0-1.8,0.3-1.8,2v5.6c0,1.7,0.2,2,1.8,2c0-0.2,0-0.4,0-0.6V5.8C4.2,5.6,4.3,5.4,4.3,5.2z" />
                    </g>
                    <g>
                        <path class="st0" d="M15.6,16.3h-0.3c-0.1,0-0.3,0-0.4,0c-0.2,0-0.4-0.1-0.5-0.3s-0.2-0.4-0.2-0.6c0-0.3,0.1-0.7,0.1-1.3V5.8
		c0-0.6,0-1-0.1-1.3c0-0.2,0-0.4,0.2-0.6s0.3-0.3,0.5-0.3c0.1,0,0.3,0,0.4,0h0.3c2.6,0,3.5,0.9,3.5,3.5v5.6
		C19.1,15.4,18.2,16.3,15.6,16.3z M15.7,5.2c0,0.2,0,0.4,0,0.6v8.3c0,0.2,0,0.4,0,0.6c1.6,0,1.8-0.3,1.8-2V7.2
		C17.6,5.5,17.4,5.2,15.7,5.2z" />
                    </g>
                </svg>


            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <ng-container *ngIf="tableDataLoading; else elseTemplate">
        <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="table-responsive" *ngIf="tableView=='tableView'">
            <!-- matSort (matSortChange)='sortBy($event)' -->
            <table mat-table matSort (matSortChange)='sortData($event)' [dataSource]="dataSource"
                class="w-100 booking-table" matSortDisableClear>
                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"firstName" | translate}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor pl-24" *matCellDef="let element">
                        <span class="medalIcon">
                            <img src="assets/images/newIcons/GoldMedal.png"
                                *ngIf="element?.driving_behaviour > 5 && element?.driving_behaviour <= 7.5">
                            <img src="assets/images/newIcons/BronzeMedal.png" *ngIf="element?.driving_behaviour <= 2.5">
                            <img src="assets/images/newIcons/PlatinumMedal.png"
                                *ngIf="element?.driving_behaviour > 7.5 && element?.driving_behaviour<10">
                            <img src="assets/images/newIcons/SilverMedal.png"
                                *ngIf="element?.driving_behaviour > 2.5 && element?.driving_behaviour <= 5"> </span>
                    <span class="driverName">   {{element.first_name || 'NA'}}</span>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="last_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"lastName" | translate}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor" mat-cell *matCellDef="let element">
                        {{element.last_name || 'NA'}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"emailTable" | translate}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor" mat-cell *matCellDef="let element">
                        {{element.email || 'NA'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="contact">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"contact" | translate}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor" mat-cell *matCellDef="let element">
                        {{element.contact || 'NA'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="last_driver_vehicle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"lastDriven" | translate}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor" mat-cell *matCellDef="let element">
                        {{element.last_driver_vehicle || 'NA'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="total_trips">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"d.noTrips" | translate}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor" mat-cell *matCellDef="let element">
                        {{element.total_trips || '0'}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="goal_enabled">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Goal Set
                    </th>
                    <td (click)="goalSetting(element)" class="cursor"  *matCellDef="let element">
                        <span class="date" [ngClass]="{'success': element.goal_enabled, 'yellow': !element?.goal_enabled}">{{element?.goal_enabled? 'Yes' : 'No'}}</span>
                    </td>
                </ng-container> -->

                <!-- Symbol Column -->
                <ng-container matColumnDef="driving_behaviour">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span *ngIf="!ruleId"> {{"safeDrivingScore" | translate}}</span>
                        <span class="title" *ngIf="ruleId == 'SpeedViolation'"> {{"t.speedScore" | translate}}</span>
                        <span class="title" *ngIf="ruleId == 'BreakingViolation'"> {{"t.deaccScore" | translate}}</span>
                        <span class="title" *ngIf="ruleId == 'AccelerationViolation'">
                            {{"t.accScore" | translate}}</span>
                        <span class="title" *ngIf="ruleId == 'IdlingViolation'"> {{"idiling" | translate}} score</span>
                        <span class="title" *ngIf="ruleId == 'CorneringViolation'">
                            {{"t.cornerScore" | translate}}</span>
                    </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor" mat-cell *matCellDef="let element">
                        <span class="date" [ngClass]="getClass(element?.driving_behaviour)">
                            {{service.convertToDutch(element?.driving_behaviour)}}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="table-responsive alignment" *ngIf="tableView=='map'">
            <!-- matSort (matSortChange)='sortBy($event)' -->
            <table mat-table matSort (matSortChange)='sortData($event)' matSortDisableClear [dataSource]="dataSource"
                class="w-100 booking-table">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-align-left">{{"d.driverName" |
                        translate}}</th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor header-align-left pl-24" 
                        *matCellDef="let element">
                        <span class="medalIcon">
                            <img src="assets/images/newIcons/GoldMedal.png"
                                *ngIf="element?.driving_behaviour > 5 && element?.driving_behaviour <= 7.5">
                            <img src="assets/images/newIcons/BronzeMedal.png" *ngIf="element?.driving_behaviour <= 2.5">
                            <img src="assets/images/newIcons/PlatinumMedal.png"
                                *ngIf="element?.driving_behaviour > 7.5 && element?.driving_behaviour<10">
                            <img src="assets/images/newIcons/SilverMedal.png"
                                *ngIf="element?.driving_behaviour > 2.5 && element?.driving_behaviour <= 5"> </span>
                      <span class="driverName" title="{{element.first_name || 'NA'}} {{element.last_name || ''}}">  {{element.first_name || 'NA'}} {{element.last_name || ''}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="soreValue.breaking">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{("rule.harshBraking" | translate)|
                        titlecase}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor"  *matCellDef="let element">
                        <span class="date" [ngClass]="getClass(element?.soreValue.breaking)">
                            {{element.soreValue? service.convertToDutch(element?.soreValue.breaking) : 'N/A'}}
                        </span>
                    </td>
                </ng-container>
              
                <ng-container matColumnDef="soreValue.speed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{("rule.speeding" | translate) | titlecase}}
                    </th>
                    <td (click)="routeToDriverDetail(element.id)" class=" cursor"  *matCellDef="let element">
                        <span class="date" [ngClass]="getClass(element?.soreValue.speed)">
                            {{element.soreValue? service.convertToDutch(element?.soreValue.speed): 'N/A'}}
                        </span>
                    </td>
                </ng-container>

            
                <ng-container matColumnDef="soreValue.idling">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{("idiling" | translate) | titlecase}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor"  *matCellDef="let element">
                        <span class="date" [ngClass]="getClass(element?.soreValue.idling)">
                            {{element.soreValue? service.convertToDutch(element?.soreValue.idling) : 'N/A'}}
                        </span>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="soreValue.cornering">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{("rule.harshCorn" | translate) | titlecase}}
                    </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor"  *matCellDef="let element">
                        <span class="date" [ngClass]="getClass(element?.soreValue.cornering)">
                            {{element.soreValue? service.convertToDutch(element?.soreValue.cornering) : "N/A"}}
                        </span>
                    </td>
                </ng-container>

            
                <ng-container matColumnDef="soreValue.acceleration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{("rule.safeAcc" | translate) | titlecase}}
                    </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor"  *matCellDef="let element">
                        <span class="date" [ngClass]="getClass(element?.soreValue.acceleration)">
                            {{element.soreValue? service.convertToDutch(element?.soreValue.acceleration): 'N/A'}}
                        </span>
                    </td>
                </ng-container>
                
              
      

              
            
                <!-- Name Column -->
                <ng-container matColumnDef="driving_behaviour">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"t.safeScore" | translate}} </th>
                    <td (click)="routeToDriverDetail(element.id)" class="cursor"  *matCellDef="let element">
                        <span class="date" [ngClass]="getClass(element?.driving_behaviour)">
                            {{service.convertToDutch(element?.driving_behaviour)}}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayScoreColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayScoreColumns;"></tr>
            </table>
        </div>
    </ng-template>
    <mat-paginator [length]="totalCount" #paginator [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
        (page)='pageChange($event)' [showFirstLastButtons]="true">
    </mat-paginator>
</div>