@import ".../../../../../../../assets/scss/variables.scss";

.fieldsWidth50{
    flex-basis: calc(50% - 7px);
    max-width: calc(50% - 7px);
    margin: 0 14px 20px 0;
    border-radius: 12px;
    padding: 16px 28px;
    &:nth-child(2n+0){
        margin-right: 0;
    }
    .digitTitle{
        font: 600 20px/24px ModernEra;
        color: $white;
    }
    .noDigit{
        font: 800 20px/24px ModernEra;
        color: $white;
    }
    &.gradientBack{
        background: $behaviourBoxBack
    }
    &.blueBack{
        background: $drivenBoxBack;
    }
}

::ng-deep .tripHisTopLeft .mat-button-toggle-button {
    svg {
        path {
            fill: $borderColor;
        }
    }
}
::ng-deep .tripHisTopLeft .mat-button-toggle-checked {
    background-color: $White_labing_Yellow;
    svg {
        path {
            fill: $white !important;
        }
    }
}
::ng-deep .tripHisTopLeft .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 35px;
}