<div class="titleWithBack ">
    <span class="backBtnImg cursor" (click)="goToLastPage()"><img src="assets/images/backButton.png"></span>
    <h4 class="BackTitle">Weightage settings</h4>
</div>
<div class="filterBody">
    <h5 class="editTitle">Edit weightage setting</h5>
    <div class="">
        <form>
        <div class="profileBox">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Trigger event</mat-label>
                <input matInput placeholder="Trigger event" value="<0 - 05% exeeding limit longer than time">
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>Time (s)</mat-label>
                <input matInput value="9">
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>Weightage </mat-label>
                <input matInput value="9">
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>Speed range (km/h) </mat-label>
                <input matInput value="100-120">
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>Weather</mat-label>
                <input matInput value="Snow">
            </mat-form-field>

            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>Road factor</mat-label>
                <input matInput value="Highway">
            </mat-form-field>
            <mat-form-field class="fields fileld33" appearance="outline">
                <mat-label>Vehicle category</mat-label>
                <input matInput value="SUV">
            </mat-form-field>
        </div>
        <div class="profileBox">
            <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>Day/night driving</mat-label>
                <input matInput value="Day">
            </mat-form-field>
            <mat-form-field class="fields fileld50" appearance="outline">
                <mat-label>Day/night weightage</mat-label>
                <input matInput value="9">
            </mat-form-field>
        </div>
  
    <div class="BtnBlock">
        <button class="btn btnSave">Save</button>
        <button class="btn btnSave">Reset to Hello Mobility standards</button>
    </div>
    </form>
    </div>
</div>