@import "../../../../assets/scss/variables.scss";

.exceptionBox {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 30px;
    .exBox {
        background: $white;
        flex-basis: calc(20% - 15px);
        // max-width: calc(20% - 15px);
        // margin: 0 18.5px 20px 0;
        max-width: 98%;
        border-radius: 12px;
        padding: 14px 0 5px 0;
        min-height: 117px;
        height: 100%;
        position: relative;

        &:nth-child(5n+0) {
            margin-right: 0;
        }

        &.active{
            border: 5px solid #FFEA6C;
        }

        .valueBox {
            position: absolute;
            top: 14px;
            left: 20px;
            color: $sblue;
            font: 600 24px/24px ModernEra;
            margin-bottom: 0;
            align-items: center;

            span {
                font: 500 14px/17px ModernEra;
                color: $Secondary_Alerts;
                margin-left: 5px;

                &.green {
                    color: $Secondary_Alerts;
                }

                &.red {
                    color: $danger;
                }

            }
        }

        .expName {
            // position: absolute;
            // bottom: 0;
            // left: 30%;
            // margin-top: 50px;
            text-align: center;
            font: 600 14px/24px ModernEra;
            color: $sblue;
            margin-bottom: 0;
        }
    }
}

.textWhite {
    color: $white;
}

.dashboardBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    
    .box {
        background: linear-gradient(93.52deg, #39D0FF -18.56%, #FFE977 102.17%);
        // flex-basis: calc(25% - 15px);
        // max-width: calc(25% - 15px);
        // margin: 0 20px 20px 0;
        border-radius: 12px;
        padding: 20px 24px 15px;

        &.iceBox {
            background: linear-gradient(93.52deg, #F0825D -18.56%, #FF9950 102.17%);
        }

        &.grayBox {
            background: #F9FAFB;

            .title {
                color: $sblue;
                font: 500 20px/24px ModernEra;
            }
        }

        &.box100 {
            flex-basis: calc(100%);
            max-width: calc(100%);
            @include flex-justify;
            padding: 0;
            margin: 0 0 15px 0;

            .leftData {
                padding: 20px 24px 15px;
            }
        }

        &:nth-child(4n+0) {
            margin-right: 0;
        }

        &.driver {
            background: linear-gradient(92.69deg, #5A6BFF 0.69%, #604EFF 102.2%);
        }

        &.trips {
            background: linear-gradient(92.69deg, #8C46FF 0.69%, #FF8080 102.2%);
        }

        &.vehicles {
            background: linear-gradient(134.92deg, #81BBFF -4.2%, #0085FF 99.37%);
        }

        .title {
            font: 600 20px/24px ModernEra;
            margin-bottom: 4px;
            color: $white;
        }

        .value {
            font: 800 24px/24px ModernEra;
            color: $white;
            margin-bottom: 0;
            align-items: center;

            &.noDrivers {
                color: $Secondary_Alerts;
            }

            &.dViolated {
                color: $danger;
            }

            span {
                font: 700 16px/24px ModernEra;
                padding: 3px 20px;
                border-radius: 25px;
                margin-left: 10px;
            }
        }
    }
}

.show5 {
    font: 600 16px/22px ModernEra;
    color: $Primary_Blue;
    text-align: center;
    border: 1px solid $Primary_Blue;
    border: 1px solid #0064FF;
    padding: 10px;
    border-radius: 20px;
}

.dashGraphBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    .boxBack {
        background: $white;
        border-radius: 10px;
        padding: 16px 18px;
        margin-bottom: 20px;
    }

    .left60 {
        flex-basis: calc(60% - 10px);
        max-width: calc(60% - 10px);
        margin-right: 10px;

        canvas {
            widows: 100% !important;
            height: 280px !important;
        }

        .tableTitle {
            font: 700 16px/24px ModernEra;
            color: $Secondary_black;
        }

        .graphTitle {
            font: 700 14px/24px ModernEra;
            color: $Secondary_black;
            text-align: center;
        }
    }



    .right40 {
        flex-basis: calc(40% - 10px);
        max-width: calc(40% - 10px);
        margin-left: 10px;
        padding: 16px 0px !important;
        .exceptionTitle {
            padding-left: 20px;
            font: 700 16px/24px ModernEra;
            color: $Secondary_black;
        }

        // .exceptionSide {
        //     max-width: 190px;
        //     width: 100%;
        // }

        .graphSide {
            // width: calc(100% - 190px);
            padding: 20px;
        }

        //driven too fast
        .firsthaldf {
            margin: 10px 0 25px;
            padding: 10px;

            .msg {
                @include msg;
                padding: 4px 14px;
                font: 14px/24px ModernEra !important;
                color: $white;
            }

            h4 {
                font: 600 14px/24px ModernEra;
            }
        }
    }
    .right40-second {
        flex-basis: calc(40% - 10px);
        max-width: calc(40% - 10px);
        margin-left: 10px;
        padding: 16px 20px !important;
        .exceptionTitle {
            font: 700 16px/24px ModernEra;
            color: $Secondary_black;
        }

        // .exceptionSide {
        //     max-width: 190px;
        //     width: 100%;
        // }

        .graphSide {
            // width: calc(100% - 190px);
            padding: 20px;
        }

        //driven too fast
        .firsthaldf {
            margin: 10px 0 25px;
            padding: 10px;

            .msg {
                @include msg;
                padding: 4px 14px;
                font: 14px/24px ModernEra !important;
                color: $white;
            }

            h4 {
                font: 600 14px/24px ModernEra;
            }
        }
    }
}

tr.mat-header-row {
    height: 34px;
    background: #604EFF;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 8px;
}

mat-form-field {
    letter-spacing: .22px;
    width: 100%;
}

.mat-table {
    border-collapse: separate;
    border-spacing: 0 10px !important;
}

:host {
    ::ng-deep {
        .booking-table {

            tr.mat-row,
            tr.mat-footer-row {
                height: 34px;
            }
        }
    }
}

.mat-progress-bar {
    height: 10px;
    border-radius: 26px 26px;
}

::ng-deep .driveFast .mat-progress-bar-fill::after {
    background-color: #FF7070 !important;
}

::ng-deep .avgSpeed .mat-progress-bar-fill::after {
    background-color: #00CBA0 !important;
}
@media (min-width:768px) and (max-width: 1210px){
    .dashboardBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        .box{
            padding: 20px 15px 15px 12px;
        }
    }
    .exceptionBox{
        grid-template-columns: 1fr 1fr;
    }
    .right40{
        .graphSide{
            padding: 0 !important;
        }
    }
    .avgspeed{
        font: 600 9px/24px ModernEra !important;
    }
    .speedtitle{
        font: 600 12px/24px ModernEra !important;
    }
    .driventitle{
        font: 600 10px/24px ModernEra !important;
    }
    
}
@media (max-width: 900px){
    
}
@media (min-width:200px) and (max-width:767px){
    .dashboardBox {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .exceptionBox{
        grid-template-columns: 1fr 1fr;
    }
    .right40{
        .graphSide{
            padding: 0 !important;
        }
    }
    .avgspeed{
        font: 600 9px/24px ModernEra !important;
    }
    .speedtitle{
        font: 600 12px/24px ModernEra !important;
    }
    .driventitle{
        font: 600 10px/24px ModernEra !important;
    }
}
.dataBox{
    display: block !important;
}