@import ".../../../../../../../assets/scss/variables.scss";

// .behaviourSec {
//   @include flex-justify;

  .mainBox {
    padding: 19px 24px;
    background-color: $white;
    border-radius: 11px;
    // &.score_chart{
    //   display: flex;
    //   justify-content: center;
    // }
    // &.drivingBeh {
    //   position: relative;
    //   height: 186px;
    //   width: 250px;
     

    //   .detailTitle {
    //     position: absolute;
    //     bottom: 20px;
    //     text-align: center;
    //     width: 202px;
    //     font: 20px/24px ModernEra !important;
    //     @include ellipsis;
    //     color: $Secondary_black;
    //   }
    // }

    // .msg {
    //   @include msg;
    //   padding: 3px 8px;

    //   &.extraPadding {
    //     padding: 4px 14px;
    //     font: 14px/24px ModernEra !important;
    //   }
    // }

     
    }
  

    // &.drivingBeh {

    //   // padding: 5px 0;
    //   .firsthaldf {
    //     padding: 15px;

    //     &:nth-child(1) {
    //       @include border-bottom;
    //     }

    //     h4 {
    //       font: 600 14px/24px ModernEra;
    //     }
    //   }
    // }



.reading-block,
.reading-label {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.tripHistory {
  @include mainBoxwithBack;

  .tripHisTop {
    @include flex-justify;
    align-items: center;
    border-bottom: 0.5px solid #e0e3e7;
    padding: 18px 24px;

    .tripHisTopLeft {
      @include flex-start;
      align-items: center;
      ::ng-deep{
        .mat-button-toggle-checked{
          background-color: $C_Primary_Orange !important;//$toggleActive 
        }
      }
    }

    .tripTitle {
      font: 700 16px/20px ModernEra_Bold;
      color: $Secondary_black;
    }
  }

  .tripMainBox {
    padding: 22px 24px;
    @media (max-width:1200px){
      padding: 22px 20px;
    }
  }

  .tripMap {
    width: 100%;
    height: 550px;
  }
}

.mat-progress-bar {
  height: 10px;
  border-radius: 26px 26px;
}

mat-form-field {
  letter-spacing: 0.22px;
  width: 100%;
}

.noDataMainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 110px;
}

::ng-deep .driveFast .mat-progress-bar-fill::after {
  background-color: #FF7070 !important;
}

::ng-deep .avgSpeed .mat-progress-bar-fill::after {
  background-color: #00CBA0 !important;
}

::ng-deep ngx-gauge .reading-block {
  font: 24px/24px ModernEra !important;
  color: $Secondary_black;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 13px 0 13px 0;
}

::ng-deep .mat-select-value-text {
  color: $sblue;
  font: 600 14px/17px ModernEra;
}

::ng-deep .tripHisTop .mat-form-field {
  width: 190px;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 35px;
}

::ng-deep .mat-button-toggle-checked {
  background-color: $C_Primary_Orange; //$Primary_Blue;

  svg {
    path {
      fill: $white !important;
    }
  }
}

::ng-deep .mat-button-toggle-button {
  // padding: 10px 14px;
  svg {
    path {
      fill: #c5cdd4;
    }
  }
}

::ng-deep .mainFilter .mat-expansion-panel-header .mat-expansion-indicator {
  display: none;
}

@media (max-width:1150px) {
  .mapImg{
    img{
      width: 60px;
    }
  }
}
@media (min-width:862px) and (max-width:1250px) {
    .behaviourSec{
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .drivingBeh{
      width: 100% !important;
    }
    .roadDistribution{
      width: 205% !important;
      order: 2 !important;
    }
    .filterBody .filterBtn.resetBtn{
      margin: 0 10px !important;
    }
}
@media (min-width:200px) and (max-width:861px) {
  .behaviourSec{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .drivingBeh{
    width: 100% !important;
  }
  .roadDistribution{
    width: 205% !important;
    order: 2 !important;
  }
}

.tripNoData{
  line-height: 70px;
  font: 600 16px/16px ModernEra;
  color: $Secondary_black;
  margin: auto;
}
.border-radius{
  border-radius: 20px;
  margin-left: -10px;
  &:first-child{
    margin-left: 0px;
  }
  // &:last-child{
  //   border-radius: 0px 10px 10px 0px;
  // }

}
.typeTitle{
  color: $Secondary_black;
  // font: 14px/24px ModernEra !important;
}

.getRide {
  @include flex-space-between; 
  flex-wrap: nowrap;     
  background: transparent !important;
  padding: 0px;
  width: calc(100% - 40px);
  @media (max-width: 992px){
    flex-wrap: wrap;
    justify-content: start;
  }
  div {
      margin-right: 8px;
      font: 600 13px/16px ModernEra !important;
      // color: $Secondary_black;
      @media (max-width: 1300px){
        font: 600 10px/16px ModernEra !important;
      }

      @media (max-width: 1200px) {
          margin-right: 8px;
      }

      &:nth-last-child(1) {
          margin-right: 0;
      }

      &.ridOfmax1 {
          border: 0.5px solid $redColor;
      }

      &.busyRoad1 {
          border: 0.5px solid $Secondary_Blue;
      }

      &.quietRoad1 {
          border: 0.5px solid $quiteRoad;
      }

      &.buildUp1 {
          border: 0.5px solid $skyBlue;
      }

      &.ridOfHighSpeed1 {
          border: 0.5px solid $Secondary_Dark;
      }

      &.black {
        border: 0.5px solid $Secondary_black;
    }      

      // &.braking {
      //     background-color: $danger;
      // }

      // &.warning {
      //     background-color: $orange;
      // }

      // &.speed {
      //     background-color: $Secondary_Alerts;
      // }

      // &.idiling {
      //     background-color: $yellow;
      // }

      span.msg {
          margin-left: 15px;
      }
  }
}
.border-boxes{
  // max-width: 240px;
  padding: 14px 30px;
  margin-top: 10px;
  border-radius: 27px;
  @media (min-width:1200px) and (max-width: 1398px){
    padding: 14px 20px;
  }
  @media (min-width:200px) and (max-width: 1199px){
    padding: 10px 10px;
  }
  @media (min-width:1600px) {
    padding: 14px 45px;
  }
  // @media (max-width: 1398px){
  //   padding: 14px 10px;
  // }
}