<div class='mainBox mb-20 '>
  <div class="roadFactorSec">
    <h4 class="typeTitle mb-0 mr-3">{{"vehicleDrivenMost" | translate}}</h4>
    <!-- <div class="w-100" id="vehDrivenMost">

    </div> -->
    <!-- <div class="getRide">
        <p *ngFor="let item of showStackBar" [ngClass]="item.class"> {{item.speed || 'NA'}}<span class="msg"
                [ngStyle]="{'color': item?.color}">{{service.convertToDutch(item.value) || '0'}}%</span></p>
    </div> -->
</div>
    <ng-container *ngIf="!isRoadTypeLoading; else elseTemplateSpin">
      <div class="getRide mt-4 mb-3" >
        <div class="border-boxes d-flex justify-content-center" *ngFor="let item of showStackBar" [ngClass]="item.class">
           {{item.speed || 'NA'}}: <span class="msg" [ngStyle]="{'color': item?.color}">{{service.convertToDutch(item.value) || '0'}}%</span>
        </div>
       
    </div>
   
    <ng-container *ngIf="!noRoadTypeData; else elseTemplate2">
        <div class="roadFactor mt-3">
        <div fxLayout="row" style="width: 100%; height: 15px;">
            <div class="border-radius" *ngFor="let item of showStackBar" fxFlex="{{item.value}}"
                [ngStyle]="{'background-color': item?.color}"></div>
        </div>
    </div>

    </ng-container>
    <ng-template #elseTemplate2>
        <div class="noDataMainBox">
            <div class="noData"><img src="assets/images/nodata.png"> </div>
        </div>
    </ng-template>
    </ng-container>
    <ng-template #elseTemplateSpin>
      <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
    </ng-template>
</div>

<div class="tripHistory mb-20">
    <div class="tripHisTop">
        <div class="tripHisTopLeft">
            <h4 class="tripTitle mb-0 mr-30">{{"t.tripHistory" | translate}}</h4>
            <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM8.64 12.81L13.02 8.43H10.59C10.18 8.43 9.84 8.09 9.84 7.68C9.84 7.27 10.18 6.93 10.59 6.93H14.83C14.93 6.93 15.02 6.95 15.12 6.99C15.3 7.07 15.45 7.21 15.53 7.4C15.57 7.49 15.59 7.59 15.59 7.69V11.93C15.59 12.34 15.25 12.68 14.84 12.68C14.43 12.68 14.09 12.34 14.09 11.93V9.5L9.7 13.87C9.55 14.02 9.36 14.09 9.17 14.09C8.98 14.09 8.79 14.02 8.64 13.87C8.35 13.58 8.35 13.1 8.64 12.81ZM18.24 17.22C16.23 17.89 14.12 18.23 12 18.23C9.88 18.23 7.77 17.89 5.76 17.22C5.37 17.09 5.16 16.66 5.29 16.27C5.42 15.88 5.84 15.66 6.24 15.8C9.96 17.04 14.05 17.04 17.77 15.8C18.16 15.67 18.59 15.88 18.72 16.27C18.84 16.67 18.63 17.09 18.24 17.22Z"
                        fill="#C5CDD4" />
                </svg>
            </span>
        </div>
        <div class="tripHisTopLeft">
            <div class="">
                <mat-button-toggle-group class="historyButton" [value]='tableView'
                    (change)="toggleChange($event.value)">
                    <mat-button-toggle value="table"> <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18.3332 5.29199C18.3332 5.63717 18.0534 5.91699 17.7082 5.91699H2.29151C1.94633 5.91699 1.6665 5.63717 1.6665 5.29199C1.6665 4.94681 1.94633 4.66699 2.29151 4.66699H17.7082C18.0534 4.66699 18.3332 4.94681 18.3332 5.29199Z"
                                fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18.3332 10.5003C18.3332 10.8455 18.0534 11.1253 17.7082 11.1253H2.2915C1.94633 11.1253 1.6665 10.8455 1.6665 10.5003C1.6665 10.1551 1.94633 9.87532 2.2915 9.87532H17.7082C18.0534 9.87532 18.3332 10.1551 18.3332 10.5003Z"
                                fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18.3332 15.7087C18.3332 16.0538 18.0534 16.3337 17.7082 16.3337H2.2915C1.94633 16.3337 1.6665 16.0538 1.6665 15.7087C1.6665 15.3635 1.94633 15.0837 2.2915 15.0837H17.7082C18.0534 15.0837 18.3332 15.3635 18.3332 15.7087Z"
                                fill="white" />
                        </svg>
                    </mat-button-toggle>
                    <mat-button-toggle value="map">
                        <svg width="20" height="21" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20"
                            style="enable-background:new 0 0 20 20;" xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill: #C5CDD4;
                                }
                            </style>
                            <g>
                                <path class="st0" d="M13,17.8c-0.4,0-0.7-0.1-1-0.2l-4.4-2.2c-0.3-0.1-0.8-0.1-1,0l-2,1.1C3.9,17,3,17.1,2.3,16.7
                           c-0.7-0.4-1-1.2-1-2.1V6.5c0-0.7,0.5-1.6,1.1-2l3.6-2.1c0.6-0.3,1.5-0.4,2.1-0.1l4.4,2.2c0.3,0.1,0.8,0.1,1,0l2-1.1
                           c0.8-0.5,1.7-0.5,2.4-0.2c0.7,0.4,1,1.2,1,2.1v8.1c0,0.7-0.5,1.6-1.1,2l-3.6,2.1C13.9,17.7,13.5,17.8,13,17.8z M7.2,14.1
                           c0.4,0,0.7,0.1,1,0.2l4.4,2.2c0.3,0.1,0.8,0.1,1,0l3.6-2.1c0.3-0.2,0.5-0.6,0.5-0.9V5.4c0-0.5-0.2-0.9-0.4-1.1
                           c-0.3-0.2-0.7-0.1-1.2,0.2l-2,1.1C13.6,5.9,12.7,6,12,5.7L7.7,3.5c-0.3-0.1-0.8-0.1-1,0L3,5.6C2.8,5.7,2.5,6.2,2.5,6.5v8.1
                           c0,0.5,0.2,0.9,0.4,1.1c0.3,0.2,0.7,0.1,1.2-0.2l2-1.1C6.4,14.2,6.8,14.1,7.2,14.1z" />
                            </g>
                            <g>
                                <path class="st0"
                                    d="M7.1,14.8c-0.3,0-0.6-0.3-0.6-0.6V3.3c0-0.3,0.3-0.6,0.6-0.6S7.7,3,7.7,3.3v10.8C7.7,14.5,7.5,14.8,7.1,14.8z" />
                            </g>
                            <g>
                                <path class="st0" d="M13.1,17.3c-0.3,0-0.6-0.3-0.6-0.6V5.5c0-0.3,0.3-0.6,0.6-0.6s0.6,0.3,0.6,0.6v11.1
                           C13.7,17,13.4,17.3,13.1,17.3z" />
                            </g>
                        </svg>

                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
    <div class="tripMainBox" *ngIf="tableView=='table'">
        <ng-container *ngIf="isTripHistoryLoading; else elseTemplate">
            <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
        </ng-container>
        <ng-template #elseTemplate>
            <app-trip-history [tableData]='tripHistory' [toolTipData]="tripToolTipData"></app-trip-history>
        </ng-template>
    </div>
    <div class="tripMap" *ngIf="tableView=='map'">
        <ng-container *ngIf="isTripHistoryLoading; else elseTemplate1">
            <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
        </ng-container>
        <ng-template #elseTemplate1>
            <app-trip-history-map [tableData]='tripHistory'></app-trip-history-map>
        </ng-template>
    </div>
    <mat-paginator [length]="totalCount" #paginator [pageSize]="limit" (page)='pageChange($event)'
        [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</div>
