
<section class="form-wrapper" [ngStyle]="{'background-image': ' url(' + imageUrl  + ')'}">
    <!-- background-image: url("../../../assets/images/Generate_password.png"); -->
    <div class="bg-image">
        <div class="bg-graphic">
            <div class="card-outer">
                <h2 class="mb-1 text-white">{{"signin.title" | translate}}</h2>
                <p class="subtitle text-white"> {{"subtitle" | translate}}</p>
                <form class="example-form" [formGroup]='signinForm'>
                    <mat-form-field appearance="outline" >
                        <mat-label> {{"email" | translate}}</mat-label>
                        <!-- placeholder="{{'signin.enterEmail' | translate}}" -->
                        <input noSpaces matInput type="text"  formControlName='email' >
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{"signin.password" | translate}}</mat-label>
                        <!-- placeholder="{{'signin.enterPassword' | translate}}" -->
                        <input  #pPass noSpaces matInput type="password"  formControlName='password'>
                        <mat-icon matSuffix (click)="pPass.type == 'password' ? pPass.type = 'text' : pPass.type = 'password'">
                            <svg [ngClass]="{'fill': f.password.touched && f.password.errors}" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z"
                                    fill="#FF7070" />
                            </svg>
                        </mat-icon>
                    </mat-form-field>
                    <div class="error" *ngIf="error.val">
                        <span><img src="assets/images/AlertError.svg"></span>
                        <span class="msg">{{error.msg}} </span>
                        <span class="cursor" (click)="resetForm()"><img src="assets/images/Close.svg"></span>
                    </div>
        
        
                    <div class="d-flex flex-wrap justify-content-between remsec mb-28">
                        <mat-checkbox [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" class="text-white">{{"signin.remember" | translate}}</mat-checkbox>
                        <p class="forget cursor" (click)="routeToForget()">{{"signin.forgot" | translate}}</p>
                    </div>
                    <mat-spinner style="margin: 10px auto;" [diameter]='50' *ngIf="isDataLoading"></mat-spinner>
                    <div class="button-onboarding d-flex justify-content-end"><button mat-button class="button-auth w-100" (click)="submit()">{{"submit" | translate}}</button></div>
                </form>
            </div>
            <!-- <div class="carousel-width">
                <app-text-carousel></app-text-carousel>
            </div> -->
        </div>
    </div>
</section>