@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/common_variables.scss";


.mb-1.text-white {
  color: $sblue !important;
}

.subtitle.text-white {
  color: $lightgray !important;
}

input.mat-input-element.mat-form-field-autofill-control.ng-tns-c126-1, input.mat-input-element.mat-form-field-autofill-control.ng-tns-c126-2 {
  color: $new_header_text_color !important;
}

p.forget.cursor {
  color: $sblue !important;
}

label.mat-checkbox-layout span.mat-checkbox-label {
  color: $C_lightblack !important;
}




mat-form-field {
  letter-spacing: 0.22px;
  width: 100%;
  color: $C_borderColor !important;
}

::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: $C_Primary_Orange !important;//$C_Primary_Blue 
  }

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $C_Primary_Blue;
  }
}

::ng-deep .mat-checkbox.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: $C_Primary_Blue !important;
  }
}
.forget {
  font: 700 16px/20px ModernEra !important;
}
.remsec {
  ::ng-deep{
    .mat-checkbox-label{
      color: $sblue !important; 
      // font:700 16px/24px ModernEra;
      font: 700 16px/20px ModernEra !important;
    }
  }
}
.form-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  // margin-top: -11rem;
  margin-top: -138px;
  min-height: calc(100vh + 10px + 4rem);
  // background-position:center bottom ;
  .carousel-width {
    margin-top: 138px;
    max-width: 400px;
  }
  ::ng-deep {
    .mat-form-field-appearance-outline {
      .mat-form-field-outline-thick {
        color: $white;
      }
    }
    .mat-form-field-appearance-outline {
      .mat-form-field-outline-thick {
        color: $white;
      }
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: $white;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
      color: $white;
    }
    input {
      background-color: transparent !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      // -webkit-box-shadow: 0 0 0 30px #1d76fb inset !important;
      -webkit-text-fill-color: $white !important;
    }
    .mat-progress-spinner circle {
      stroke: $white;
    }
    ::ng-deep .mat-checkbox-frame {
      border-color: $white;
    }
    // .mat-icon{
    //   svg{
    //     fill: $white;
    //     stroke: ;
    //   }
    // }
    ::ng-deep  .mat-checkbox-checked .mat-checkbox-background {
      background-color: transparent;
      border-color:$white;
  } 
  }
  ::ng-deep{
    mat-label{
      color: $white;
    }
    input {
      color: $white !important;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}