@import ".../../../../../../../assets/scss/variables.scss";
@import ".../../../../../../../assets/scss/common_variables.scss";


.behaviour {
  @include mainBoxwithBack;
  margin-bottom: 20px;

  .behTitle {
    font: 600 16px/16px ModernEra;
    color: $Secondary_black;
    border-bottom: 0.5px solid $lightmixblueWhitecolor;
    padding: 19px 24px 24px;
  }

  // .behaviorscore {
  //     padding: 19px 24px;
  //     @include flex-start;

  //     .w-49 {
  //         width: 49%;

  //         &:nth-child(1) {
  //             margin-right: 2%;
  //         }

  //         .behaviorBox {
  //             border-radius: 10px;
  //             background: rgba(96, 78, 255, 0.08);

  //             &.selValue {
  //                 padding: 10px 14px;
  //                 @include flex-justify;

  //                 .valueBox {
  //                     text-align: center;
  //                     padding: 8px 29px;
  //                     border-radius: 7px;
  //                     @media(max-width:1440px){
  //                         padding: 8px 20px;
  //                     }

  //                     &.active {
  //                         background: #604EFF;

  //                         .values,
  //                         .type {
  //                             color: $white;
  //                         }
  //                     }

  //                     .values {
  //                         font: 600 18px/22px ModernEra;
  //                         color: $Secondary_Dark;
  //                     }

  //                     .type {
  //                         font: 500 14px/17px ModernEra;
  //                         color: $Secondary_Dark;
  //                     }
  //                 }
  //             }
  //         }
  //     }
  // }
}

.vehicleInfo {
  padding: 20px;
  @include mainBoxwithBack;
  ::ng-deep {
    table {
      th {
        .mat-sort-header-content {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100px;
          font: 700 10px/11px ModernEra_Bold !important;
          color: $C_Primary_White !important; //color-table-heading
        }
      }
    }
  }
  .vehTitle {
    font: 700 16px/16px ModernEra;
    color: $Secondary_black;
    margin-bottom: 4px;
    display: inline-block;
  }
  .vehimage {
    margin-left: 10px;
  }
}

.booking-table {
  .category_wrap {
    max-width: 106px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  th {
    font: 900 10px/11px ModernEra !important;
    color: $color-table-heading !important;

    // border-bottom: 2px solid #643fc0;

    // &[data-content="menu"] {
    //     width: 80px;
    // }
  }

  .mat-sort-header-arrow {
    color: $Secondary_Blue_dark;
  }

  td {
    &.mat-cell {
      font: 13px/16px ModernEra;
      color: $black;
      // padding-left: 7px;
    }
  }
}

tr.mat-header-row {
  height: 34px;
  background: $new_row_header_vehicles; //$color-blue-light;
  border-radius: 5px;
  color: $white;
}

mat-row,
mat-footer-row,
td.mat-cell,
td.mat-footer-cell {
  border-color: transparent;
  font: 400 10px/18px ModernEra !important;
  color: $Secondary_black !important;
  &:first-child {
    color: $Secondary_black !important;
    font: 700 10px/18px ModernEra_Bold !important;
    position: relative;
    padding-left: 30px !important;
    &::after {
      display: inline-block;
      content: "";
      border-radius: 50%;
      height: 8px;
      width: 8px;
      margin-right: 6px;
      background-color: $White_labing_Yellow;
      position: absolute;
      top: 12px;
      left: 13px;
    }
  }
}

.date {
  @include msg;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell {
  border-color: transparent;
  font: 12px/18px ModernEra !important;
  color: $white !important;
}

tr.mat-row,
tr.mat-footer-row {
  &:nth-child(odd) {
    background: $new_row_grey; //$tableOddBack;
    border-radius: 8px;
    height: 34px;
  }

  &:nth-child(even) {
    background: $white;
  }
}

:host {
  ::ng-deep {
    .booking-table {
      tr.mat-row,
      tr.mat-footer-row {
        height: 34px;
      }
    }
  }
}

mat-form-field {
  letter-spacing: 0.22px;
  width: 100%;
}

.mat-table {
  border-collapse: separate;
  border-spacing: 0 10px !important;
}
@media (min-width: 1020px) and (max-width: 1120px) {
  .mapImg {
    img {
      width: 73px;
    }
  }
}
@media (max-width: 1019px) {
  .mapImg {
    img {
      width: 64px;
    }
  }
}
@media (min-width: 862px) and (max-width: 1250px) {
  .filterBody .filterBtn.cancleBtn {
    margin: 0 10px !important;
  }
}

.boxes25 {
  width: 25%;
  display: inline-block;
  padding: 0px 10px;
  &:first-child {
    padding-left: 0px !important;
  }
  &:last-child{
    padding-right: 0px;
  }
}
.vehcileMainBox{
  margin-bottom: 20px;
}

@media (max-width: 1300px){
  
  .vehcileMainBox{
   
    .boxes25{
      width: 50%;
      &:nth-child(2) {
        padding-right: 0px !important;
      }
      &:nth-child(3) {
        padding-left: 0px !important;
        margin-top: 20px;
      }
      &:nth-child(3) {
        margin-top: 20px;
      }
    }
     
  }
}
