@import ".../../../../../../../assets/scss/variables.scss";
@import ".../../../../../../../assets/scss/common_variables.scss";

.customOrangeForSvg{
  filter: invert(39%) sepia(71%) saturate(1713%) hue-rotate(359deg) brightness(97%) contrast(109%);
}

/* MatAccordian */
.mat-expansion-Common {
  .driverName {
    flex-basis: calc(28% - 10px);
    max-width: calc(28% - 10px);
    margin-right: 10px;
    display: flex;
    align-items: center;
    background: $backGrayCommon;
    border-radius: 6px;
    padding: 8px 9px;

    svg {
      margin-right: 22px;
    }

    .dName {
      width: calc(100% - 67px);
      @include ellipsis;
      color: $nightTextColor;
      font: 700 14px/18px ModernEra;
    }
  }

  .speedingPoint {
    align-items: center;
    display: flex;
    .speedTitle {
      font: 700 12px/18px ModernEra;
      color: $nightTextColor;
      margin-right: 10px;
      position: relative;
      &::before {
        display: inline-block;
        content: "";
        -webkit-border-radius: 50%;
        border-radius: 50%;
        height: 13px;
        width: 13px;
        margin-right: 6px;
        background-color: #ed502e; /* #490086 */
        position: absolute;
        top: 1px;
        left: -18px;
      }
    }
    .exceptionName {
      font: 600 12px/18px ModernEra;
      color: $nightTextColor;
      // max-width: 100px;
      // width: 100%;
      width: 100px;
      @include ellipsis;
    }
  }

  .speedingPointBody {
    flex-basis: calc(22% - 10px);
    max-width: calc(22% - 10px);
    margin-right: 10px;
  }

  .timeSec {
    margin-right: 5px;
    color: $Secondary_black;
    font: 600 14px/18px ModernEra;
    // flex-basis: calc(15% - 5px);
    // max-width: calc(15% - 5px);
    margin-right: 5px;
    text-align: center;
    &.timewithMin {
      // max-width: 100px;
      // width: 100%;
      width: 100px;
      @include ellipsis;
    }
  }

  .lantlong {
    // flex-basis: calc(20% - 5px);
    // max-width: calc(20% - 5px);
    margin-right: 5px;
    max-width: 35px;
    width: 100%;
  }

  .mat-expansion-Common-Body {
    background: #fff; //rgba(135, 135, 135, 0.05);
    border-radius: 6px;
    padding: 11px 10px;
    margin-bottom: 16px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    .exceptionDetail {
      @include flex-justify;
      align-items: center;
      p {
        margin-bottom: 0;
      }
      .eventName {
        @include flex-start;
        align-items: center;
        .exceptiodetail {
          width: 233px;
          @include ellipsis;
          font: 500 11px/24px ModernEra;
          color: $Secondary_black;
        }
      }
      .exceptionTitle {
        color: $nightTextColor;
        font: 600 11px/18px ModernEra;
        span {
          font: 500 11px/24px ModernEra;
          color: $Secondary_black;
        }
      }

      .exceptionDate {
        svg {
          margin-right: 5px;
          width: 17px;
          height: 17px;
          path {
            fill: $C_Primary_Orange; //$nightTextColor;
          }
        }
        color: $C_Primary_Orange; //$nightTextColor;
        font: 700 12px/18px ModernEra;
      }

      .matCommon {
        @include flex-start;
        align-items: center;
        width: calc(100% - 38px);
      }

      .mapIcon {
        max-width: 38px;
        width: 100%;
      }

      .timeSecBody {
        font: 600 11px/18px ModernEra;
        color: $Secondary_black;

        &:nth-last-child(1) {
          padding: 0 0 0 5px;
        }
      }

      .timeDateDesc {
        font: 700 12px/18px ModernEra;
        color: $Primary_Blue;
        // max-width: 316px;
        // width: 100%;
        // margin-right: 10px;
        flex-basis: calc(28% - 10px);
        max-width: calc(28% - 10px);
        margin-right: 10px;
      }
    }
  }
}

.tripHisTop {
  padding: 18px 24px 0;

  .tripHisTopLeft {
    @include flex-justify;
    align-items: center;
  }

  .tripTitle {
    font: 600 16px/20px ModernEra;
    color: $Secondary_black; //$nightTextColor;

    .countValue {
      font: 600 14px/18px ModernEra;
      color: $Secondary_black;//$danger;
    }
  }
}

.relBox {
   min-height: 250px;
    // position: relative;
    // min-height: 510px;
    // height: 100%;

    // .dayNightSec {
    //     position: absolute;
    //     bottom: 32px;
    //     left: 20px;
    //     right: 20px;
    // }
}

#chartDiv {
  display: block;
}

::ng-deep .mat-button-toggle-button {
  svg {
    path {
      fill: #c5cdd4;
    }
  }
}

::ng-deep .mat-button-toggle-checked {
  background-color: $C_Primary_Orange; //$toggleActive;

  svg {
    path {
      fill: $white !important;
    }
  }
}

::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 35px;
}

// .scoreBoxRight {
//     .speedGraphTitle {
//         height: 43px;
//     }
// }

// .speedRoadLeft {
//     .speedGraphTitle {
//         height: 33px;
//     }
// }
.naData{
  height: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-box {
  background: $C_Primary_White !important; //rgba(0, 203, 160, 0.1)
  border-radius: 8px !important;
  border: 1px solid #e0e3e7 !important;
  h4{
    font: 700 18px/20px ModernEra_Bold !important;
    color: $new_row_header_vehicles !important; //$Secondary_Alerts
  }
  p{
    font: 700 14px/20px ModernEra_Bold !important;
    color: new_header_text_color !important; //$Secondary_Alerts
  }
  
}

@media (max-width: 1160px) {
  .dayNightSec {
    position: unset !important;
  }
}

/* new  code update v2 */
.detailPageTrip {
  @include flex-start;
  margin-bottom: 20px;

  .mapShow {
    flex-basis: calc(35%);
    max-width: calc(35%);
    @include mainBoxwithBack;
    background-color: gray;
    height: 830px;
    width: 100%;
    @media (max-width: 1400px) {
      flex-basis: calc(100%);
      max-width: calc(100%);
      height: 500px;
    }
  }

  .tripDetailsLeft {
    flex-basis: calc(65% - 20px);
    max-width: calc(65% - 20px);

    @media (min-width: 1400px) {
      max-height: 830px;
      height: 100%;
      overflow-y: scroll;
      margin-right: 20px;
    }
    @media (max-width: 1400px) {
      flex-basis: calc(100%);
      max-width: calc(100%);
      margin-right: 0;
      // height: auto;
      // overflow-y: hidden;
    }

    .tripDetails {
      @include mainBoxwithBack;
      margin-bottom: 20px;
    }

    // &.tripDetailFullwidth {
    //     flex-basis: 100%;
    //     max-width: 100%;
    //     margin-right: 0;
    // }

    .tripDetailHead {
      border-radius: 10px 10px 0px 0px;
      padding: 8px 30px;
      background-color: $Secondary_Blue;
      @include flex-justify;
      align-items: center;

      .tripDetailTitle {
        font: 700 14px/18px ModernEra;
        color: $white;
        margin-bottom: 0;
      }

      .exportRightIcon svg {
        path {
          fill: $white;
        }
      }
    }

    .tripDetailTopBox {
      // padding: 16px 20px 0 20px;
     ::ng-deep{
      mat-expansion-panel-header{
        padding: 0 7px 0 0px !important;
      }
     }
      padding: 14px;
      ::ng-deep{
        mat-expansion-panel{
            .mat-content {
                justify-content: space-around !important;
            }
        }
      }

      .tripDetailBox {
        // border: 1px solid $lightmixblueWhitecolor;
        border-radius: 8px;
        background-color: $white;
        padding: 7px 8px;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            display: flex;
            margin-bottom: 12px;
            position: relative;

            svg {
              margin-right: 13px;

              path {
                fill: $Secondary_black;
              }
            }

            &::after {
              position: absolute;
              content: " ";
              transform: translate(50%);
              border: 1px dashed $Secondary_black;
              top: 28px;
              left: 10px;
              height: 38px;
            }

            &:nth-last-child(1)::after {
              display: none;
            }

            &:nth-last-child(1) {
              margin-bottom: 0;
            }

            img {
              margin-right: 13px;
            }

            .fromTitle {
              font: 700 12px/18px ModernEra_Bold;
              color: $Secondary_black;
              // height: 36px;
            }

            .fromTo {
              width: 36px;
            }

            .timeDesc {
              font: 700 10px/18px ModernEra_Bold;
              color: $C_Primary_Orange; //$Secondary_black;
            }

            .mt-14 {
              margin-top: 14px;
            }

            .mt3 {
              margin-top: 3px;
              width: calc(100% - 37px);
            }
          }
        }
      }
    }

    .tripDetailBoxes {
      @include flex-start;

      // .tripBoxFields50 {
      //     flex-basis: calc(50% - 10px);
      //     max-width: calc(50% - 10px);
      //     margin: 0 20px 20px 0;
      //     background: $lightWhitecolor;
      //     border: 1px solid $lightWhitecolor;
      //     border-radius: 8px;
      //     padding: 18px 9px;
      //     text-align: center;

      //     &:nth-child(2n+0) {
      //         margin-right: 0;
      //     }
      // }

      .tripBoxFields {
        background: $lightWhitecolor;
        border: 1px solid $lightWhitecolor;
        border-radius: 8px;
        flex-basis: calc(50% - 7px);
        max-width: calc(50% - 7px);
        margin: 0 14px 16px 0;
        padding: 40px 9px;
        text-align: center;
        max-height: 123px;

        &:nth-child(2n + 0) {
          margin-right: 0;
          background: #fff !important;
          border: 1px solid $lightmixblueWhitecolor;
        }
      }

      .tripId {
        font: 700 14px/16px ModernEra_Bold;
        margin-bottom: 9px;
        color: $black; //$Primary_Blue;
      }

      .tripDesc {
        font: 700 12px/18px ModernEra_Bold;
        color: $Secondary_black;
        margin-bottom: 0;
      }
    }

    .noData {
      margin: 0 auto 5px;
      text-align: center;
    }

    .maintopBox {
      @include flex-start;

      .tripdetailBox {
        flex-basis: calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin: 0 20px 0 0;

        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }

    .dayNightSec {
      @include flex-start;

      .dayNightHeading {
        font: 700 13px/18px ModernEra_Bold;
        color: $Secondary_black;
        margin-bottom: 10px;
        margin-top: 7px;
        @include ellipsis;
      }

      .dayNightBox {
        flex-basis: calc(50% - 15px);
        max-width: calc(50% - 15px);
        margin: 0 15px 0 0;

        &.chart:hover {
          border: 1px solid #e0e3e7;
          border-radius: 8px;
        }

        &:nth-child(even) {
          margin-left: 15px;
          margin-right: 0;
        }

        .commonBox {
          border-radius: 8px;
          padding: 16px 10px;
          max-height: 50px;
          text-align: center;
          // @include flex-justify;
          // align-items: center;

          &.night {
            background: $nightBackBlack;

            .nightDetail {
              color: $white;
              font: 700 14px/18px ModernEra_Bold;
            }
          }

          &.day {
            background: $yellow; //$lightmixblueWhitecolor;
            font: 700 14px/18px ModernEra_Bold;

            .nightDetail {
              color: $nightTextColor;
              font: 700 14px/18px ModernEra;
            }
          }
        }
      }
    }
  }
}

/* new  code update v2 */

.safeScoreBox {
  background: $greenBoxBack;
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 9px;
  font: 600 12px/18px ModernEra;
  color: $Secondary_Alerts;
  text-align: center;

  svg {
    margin-right: 9px;

    path {
      fill: $Secondary_Alerts;
    }
  }

  .SafeScore {
    margin-left: 9px;
    font: 700 14px/16px ModernEra;
  }
}

.timeDistBox {
  background: #fff;
  border: 1px solid $lightmixblueWhitecolor;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 10px;
  font: 700 12px/18px ModernEra_Bold;
  color: $Secondary_black;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  svg {
    margin-right: 7px;

    path {
      fill: $Secondary_black;
    }
  }

  .timeDistTitle {
    margin-left: 4px;
    font: 700 14px/16px ModernEra;
  }
}
.graphTab {
    &__checkbox {
      display: flex;
      &__safeScore {

        cursor: pointer;
        display: flex;
        label {
          cursor: pointer;
          font: 700 10px/12px ModernEra;
          color: $Secondary_black;
        }
        .checkbox-dynamic {
          display: inline-block;
          margin-right: 5px;
          height: 14px;
          width: 14px;
          background: #4f7ee8;
          border-radius: 2px;
          &.activeSafeScore {
            background-image: url("../../../../../assets/images/Check.svg");
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
      &__otherScore {
        cursor: pointer;
        display: flex;
        margin-left: 10px;
        &.limit{
          .checkbox-dynamic-second {
            background: $Secondary_Alerts !important;
            &.activeOther {
              background-image: url("../../../../../assets/images/Check.svg") !important;
              background-repeat: no-repeat !important;
              background-position: center !important;
            }
          }
          label {
            color: $Secondary_Alerts;
          }
        }
        label {
          cursor: pointer;
          font: 700 10px/12px ModernEra_Bold;
          color: $redActiveColor; //$lightgray;
        }
        .checkbox-dynamic-second {
          display: inline-block;
          height: 14px;
          width: 14px;
          background: $redActiveColor; //$lightgray;
          border-radius: 2px;
          margin-right: 5px;
          &.activeOther {
            background-image: url("../../../../../assets/images/Check.svg");
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
  .typeTitle {
    font: 700 14px/24px ModernEra_Bold !important;
    color: $Secondary_black
  }

.speedRoadSec {
  @include flex-start;
  padding: 10px;

  .speedRoadLeft {
    flex-basis: calc(20% - 7px);
    max-width: calc(20% - 7px);
    // margin-right: 7px;
    // @include flex-start;

    .scoreBoxGuage {
      flex-basis: calc(100%);
      max-width: calc(100%);
      margin: 0 14px 0 0;
      border: 1px solid $lightmixblueWhitecolor;
      padding: 14px 14px 0;
      border-radius: 8px;
      text-align: center;
      min-height: 133px;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      // .speedGraphTitle {
      //     font: 600 12px/18px ModernEra;
      //     color: $Secondary_black;
      //     margin-bottom: 10px;
      // }
    }
  }

  .speedGraphTitle {
    font: 700 11px/18px ModernEra_Bold;
    color: $Secondary_black;
    margin: 0 auto 8px;
    @include ellipsis;
  }

  .defaultValue {
    font: 500 8px/5px ModernEra;
    margin-bottom: 0;
  }

  .speedRoadRight {
    flex-basis: calc(40% - 5px);
    max-width: calc(40% - 5px);
    margin-right: 7px;

    .scoreBoxRight {
      // margin: 0 0 20px 0;
      border: 1px solid $lightmixblueWhitecolor;
      padding: 14px 14px 0;
      border-radius: 8px;
      min-height: 133px;
      @include flex-start;

      .filerHalf {
        flex-basis: calc(50%);
        max-width: calc(50%);
        text-align: center;
        // position: relative;

        // &:nth-child(1):after {
        //     content: "";
        //     position: absolute;
        //     width: 1px;
        //     top: 16px;
        //     background-color: $whiteColor;
        //     height: 70px;
        //     right: 0;
        // }
      }
    }
  }
}

.graphTitle {
  font: 600 14px/24px ModernEra;
  color: $Secondary_black;
}

.mainBox {
  padding: 19px 24px;
  background-color: $white;
  border-radius: 11px;

  .msg {
    @include msg;
    padding: 3px 8px;
    font: 14px/24px ModernEra !important;
  }

  // &.roadDistribution {
  //   width: 100%;
  .roadFactor {
    div:first-child {
      border-radius: 40px 0 0 40px;
    }

    div:last-child {
      border-radius: 0 40px 40px 0;
    }

    div:only-child {
      border-radius: 40px 40px 40px 40px;
    }
  }
}

.getRide {
  padding: 10px 30px;
  background: $lightWhitecolor;
  border-radius: 4px;
  width: calc(100% - 125px);

  p {
    margin-bottom: 0;
  }
}
.pr-75 {
  padding-right: 7.5rem;
}
