// @font-face {
//     font-family: "ModernEra";
//     src: url("../../assets/font/ModernEra.ttf");
//      // font-weight: 300;
//      font-display: swap;
// }

// @font-face {
//     font-family: "ModernEra";
//     src: url("../../assets/font/ModernEra-Regular.otf");
//      // font-weight: 400;
//      font-display: swap;
// }

// @font-face {
//     font-family: "ModernEra";
//     src: url("../../assets/font/ModernEra.ttf");
//      // font-weight: 500;
//      font-display: swap;
// }

// @font-face {
//     font-family: "ModernEra";
//     src: url("../../assets/font/ModernEra-Medium.otf");
//      // font-weight: 600;
//      font-display: swap;
// }

// @font-face {
//     font-family: "ModernEra";
//     src: url("../../assets/font/ModernEra-Bold.otf");
//      // font-weight: 700;
//      font-display: swap;
// }

// @font-face {
//     font-family: "ModernEra";
//     src: url("../../assets/font/ModernEra-ExtraBold.otf");
//     // font-weight: 800;
//     font-display: swap;
// }
@font-face {
    font-family: "ModernEra";
    src: url("../../../src/assets/font/ModernEra-Regular.otf");
    // font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "ModernEra_Extrabold";
    src: url("../../../src/assets/font/ModernEra-ExtraBold.otf");
    // font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "ModernEra_Bold";
    src: url("../../../src/assets/font/ModernEra-Bold.otf");
    // font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "ModernEra_semiBold";
    src: url("../../../src/assets/font/ModernEra-Medium.otf");
    // font-weight: 800;
    font-display: swap;
}