<div class="px-3">
    
    <div class="color-differentiation">
        <div class="colors">
            <div class="dots" [ngStyle]="{'background': exceptionColors.speed}"></div>
         {{ "speeding" | translate }}
        </div>
        <div class="colors pl-3">
            <div class="dots" [ngStyle]="{'background': exceptionColors.idling}"></div>
         {{ "idiling" | translate }}
        </div>
        <div class="colors pl-3">
            <div class="dots" [ngStyle]="{'background': exceptionColors.breaking}"></div>
         {{ "hardBraking" | translate }}
        </div>
        <div class="colors pl-3">
            <div class="dots" [ngStyle]="{'background': exceptionColors.cornering}"></div>
         {{ "harshCorner" | translate }}
        </div>
        <div class="colors pl-3">
            <div class="dots" [ngStyle]="{'background': exceptionColors.acceleration}"></div>
         {{ "hardAcceleration" | translate }}
        </div>
      </div>
</div>
<div class="mapDiv">
<div id="map"></div>
</div>
