<div class="behaviour mb-20">
    
    <div class="mainFilter">
        <div class="filterHeader">
            <h3 class="behTitle mb-0">{{ "sidebar.driverScoreComp" | translate}}</h3>
            <div>
                <button class="btn btnFiliter" (click)="changeState()" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseExample"><img src="assets/images/filter.svg">
                </button> <button class="btn btnFilterExport enable-click-event"><img
                        src="assets/images/export.svg"></button>
            </div>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="filterBody">
                <div class="filterBodyTitle">
                    <h4>Filters</h4>
                    <span (click)="changeState()"><img src="assets/images/close-circle.svg"></span>
                </div>
                <div class="filterSearch mb-20">
                    <input type="text" [(ngModel)]="searchString" placeholder="Search..." class="form-control">
                    <span class="filterSearchIcon"><img src="assets/images/search.svg"></span>
                </div>
                <div class="profileBox">
                    <mat-form-field class="fields fileld50" appearance="outline">
                        <mat-label>{{'d.selectDriver' | translate}}</mat-label>
                        <mat-select [(ngModel)]="selectedDriver" [ngModelOptions]="{standalone: true}"
                            [disableOptionCentering]="true" panelClass="customSelect"
                            placeholder="{{'d.chooseDriver' | translate}}">
                            <div class="searchSelect border-bottom">
                                <input class='searchDropdown' type="text" placeholder="{{'search' | translate}}"
                                    [(ngModel)]="searchDriver">
                                <mat-icon><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M9.58973 9.59067C9.76496 9.41543 10.0491 9.41543 10.2243 9.59067L12.7013 12.0677C12.8765 12.2429 12.8765 12.527 12.7013 12.7022C12.526 12.8775 12.2419 12.8775 12.0667 12.7022L9.58973 10.2253C9.4145 10.05 9.4145 9.7659 9.58973 9.59067Z"
                                            fill="#848588" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M6.46094 2.06443C4.03226 2.06443 2.06344 4.03328 2.06344 6.46198C2.06344 8.89069 4.03226 10.8595 6.46094 10.8595C8.88961 10.8595 10.8584 8.89069 10.8584 6.46198C10.8584 4.03328 8.88961 2.06443 6.46094 2.06443ZM1.16602 6.46198C1.16602 3.53764 3.53663 1.16699 6.46094 1.16699C9.38524 1.16699 11.7559 3.53764 11.7559 6.46198C11.7559 9.38633 9.38524 11.757 6.46094 11.757C3.53663 11.757 1.16602 9.38633 1.16602 6.46198Z"
                                            fill="#848588" />
                                    </svg>
                                </mat-icon>
                            </div>
                            <mat-option [value]="'all'">{{('all' | translate) | titlecase}}</mat-option>
                            <mat-option [value]="item?.id"
                                *ngFor="let item of driverList  | filter: searchDriver : 'driver'">{{item?.first_name}}
                                {{item?.last_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
    
                    <!-- <mat-form-field class="fields fileld33 ngx-daterangepicker-action" appearance="outline">
                        <mat-label>{{"selectRange" | translate}}</mat-label>
                        <input matInput ngxDaterangepickerMd [(ngModel)]="selectedShow" [showCustomRangeLabel]="true"
                            [alwaysShowCalendars]="alwaysShowCalendars" [ranges]="ranges" [showClearButton]="false"
                            [showCancel]="true" [linkedCalendars]="true" [isTooltipDate]="isTooltipDate"
                            [isInvalidDate]="isInvalidDate" [locale]="{applyLabel: 'Set Date'}"
                            (rangeClicked)="rangeClicked($event)" (datesUpdated)="datesUpdatedDashboard($event)"
                            [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
                            [showRangeLabelOnInput]="showRangeLabelOnInput" readonly />
                        <span class="calIconRight"><img src="assets/images/calendar.svg"></span>
                    </mat-form-field> -->
                </div>
                <div class="d-flex flex-wrap justify-content-between mt-2">
                    <div>
                        <button mat-button class="filterBtn exportBtn">Export
                            <img class="exprtBtnImg" src="assets/images/exportBtn.svg"></button>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div>
                            <button mat-button class="filterBtn cancleBtn" (click)="resetToLastState();resetFilter()">Reset</button>
                        </div>
                        <div>
                            <button mat-button class="filterBtn applyBtn" (click)="filterApply();destroy()" >{{"apply" | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="behaviorscore">
        <div class="w-100">
            <h3 class="behTitle mb-0">{{ "sidebar.driverScoreComp" | translate}}</h3>
        </div>
        <div class="w-49">
            <div class="ngx-daterangepicker-action-left mondata">
                <span class="calIcon"><img src="assets/images/calendar.svg"></span>
                <span class="cursor closeIcon"><img src="assets/images/Close.svg"></span>
                <input ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="true"
                    [alwaysShowCalendars]="alwaysShowCalendars" [ranges]="ranges" [showClearButton]="false"
                    [showCancel]="true" [linkedCalendars]="true" [isTooltipDate]="isTooltipDate"
                    [isInvalidDate]="isInvalidDate" [locale]="{applyLabel: 'Set Date'}"
                    (rangeClicked)="rangeClicked($event)" (datesUpdated)="datesUpdated($event,1)"
                    [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
                    [showRangeLabelOnInput]="showRangeLabelOnInput" class="form-control"
                    placeholder="Select please..." />
            </div>
            <div class="behaviorBox" *ngIf="drivingBehaviourLeft!=null">
                <div class=" selValue" >
                    <div class="valueBox " (click)="active=1;graphname='safe_score';updategraph('safe_score') " [ngClass]="{'active': active==1}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourLeft?.safe_score,1))}}</h4>
                        <p class="type mb-0">{{ "t.safeScore" | translate}}</p>
                    </div>
                    <div class="valueBox" (click)="active=2; graphname='speed_score';updategraph('speed_score')" [ngClass]="{'active': active==2}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourLeft?.speed,1))}}</h4>
                        <p class="type mb-0">{{"speed" | translate}}</p>
                    </div>
                    <div class="valueBox" (click)="active=3 ; graphname='acceleration_score';updategraph('acceleration_score')" [ngClass]="{'active': active==3}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourLeft?.acceleration,1))}}</h4>
                        <p class="type mb-0">{{"accelerate" | translate}}</p>
                    </div>
                    
                </div>
                <div class="margin-bottom">
                    <div>
                        
                    </div>
                </div>
                <div class=" selValue " *ngIf="drivingBehaviourLeft!=null">
                    <div class="valueBox" (click)="active=4; graphname='breaking_score';updategraph('breaking_score')" [ngClass]="{'active': active==4}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourLeft?.breaking,1))}}</h4>
                        <p class="type mb-0">{{"decelerate" | translate}}</p>
                    </div>
                    <div class="valueBox" (click)="active=5;graphname='cornering_score';updategraph('cornering_score')" [ngClass]="{'active': active==5}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourLeft?.cornering,1))}}</h4>
                        <p class="type mb-0">{{"cornerning" | translate}}</p>
                    </div>
                    <div class="valueBox" (click)="active=6;graphname='idling_score';updategraph('idling_score')" [ngClass]="{'active': active==6}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourLeft?.idling,1))}}</h4>
                        <p class="type mb-0">{{"idiling" | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-6">
            vs
        </div>
        <div class="w-49">
            <div class="ngx-daterangepicker-action mondata">
                <span class="calIcon"><img src="assets/images/calendar.svg"></span>
                <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedAgain" [showCustomRangeLabel]="true"
                    [alwaysShowCalendars]="alwaysShowCalendars" [ranges]="ranges" [showClearButton]="false"
                    [showCancel]="true" [linkedCalendars]="true" [isTooltipDate]="isTooltipDate"
                    [isInvalidDate]="isInvalidDate" [locale]="{applyLabel: 'Set Date'}"
                    (rangeClicked)="rangeClicked($event)" (datesUpdated)="datesUpdated($event,2)"
                    [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
                    [showRangeLabelOnInput]="showRangeLabelOnInput" class="form-control"
                    placeholder="Select please..." />
                <span class="cursor closeIcon"><img src="assets/images/Close.svg"></span>
            </div>
            
            <div class="behaviorBox">
                <div class=" selValue" *ngIf="drivingBehaviourRight!=null">
                    <div class="valueBox" (click)="active=1;graphname='safe_score';updategraph('safe_score')" [ngClass]="{'activeRight': active==1}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourRight?.safe_score,1))}}</h4>
                        <p class="type mb-0">{{ "t.safeScore" | translate}}</p>
                    </div>
                    <div class="valueBox" (click)="active=2;graphname='speed_score';updategraph('speed_score')" [ngClass]="{'activeRight': active==2}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourRight?.speed,1))}}</h4>
                        <p class="type mb-0">{{"speed" | translate}}</p>
                    </div>
                    <div class="valueBox" (click)="active=3;graphname='acceleration_score';updategraph('acceleration_score')" [ngClass]="{'activeRight': active==3}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourRight?.acceleration,1))}}</h4>
                        <p class="type mb-0">{{"accelerate" | translate}}</p>
                    </div>
                    
                </div>
                <div class="margin-bottom">
                    <div>
                        
                    </div>
                </div>
                <div class=" selValue" *ngIf="drivingBehaviourRight!=null">
                    <div class="valueBox" (click)="active=4;graphname='breaking_score';updategraph('breaking_score')" [ngClass]="{'activeRight': active==4}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourRight?.breaking,1))}}</h4>
                        <p class="type mb-0">{{"decelerate" | translate}}</p>
                    </div>
                    <div class="valueBox" (click)="active=5;graphname='cornering_score';updategraph('cornering_score')" [ngClass]="{'activeRight': active==5}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourRight?.cornering,1))}}</h4>
                        <p class="type mb-0">{{"cornerning" | translate}}</p>
                    </div>
                    <div class="valueBox" (click)="active=6;graphname='idling_score';updategraph('idling_score')" [ngClass]="{'activeRight': active==6}">
                        <h4 class="values mb-0">{{service.convertToDutch(formatToFixed(drivingBehaviourRight?.idling,1))}}</h4>
                        <p class="type mb-0">{{"idiling" | translate}}</p>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="w-100 d-flex justify-content-center" *ngIf="isTripHistoryLoading">
            <ng-container >
                <mat-spinner style="margin: 0 auto;" [diameter]='50'></mat-spinner>
            </ng-container>
        </div>
    </div>

    <div class="graph">
        
        <div >
            <canvas id="myChartleft"></canvas>
        </div>
        <!-- <div class="d-flex justify-content-center py-4" *ngIf="speedProfile?.weight.length==0">
            
            <img src="/assets/images/danger.png" alt="">
        </div> -->
        <div class="text-center text-color text-capitalize">
            vs
        </div>
        <div >
            <canvas id="myChartright"></canvas>
        </div>
        <!-- <div class="d-flex justify-content-center py-4" *ngIf="accProfile?.weight.length==0">
            <img src="/assets/images/danger.png" alt="">
        </div> -->
    </div>
</div>