@import ".../../../../../../../assets/scss/variables.scss";
.behaviour {
    
      margin-bottom: 20px;
  
      .behTitle {
          font: 600 16px/16px ModernEra;
          color: $Secondary_black;
          padding: 19px 24px 24px;
      }
  
      .behaviorscore {
        @include mainBoxwithBack;
          padding: 12px 24px 50px 24px;
          @include flex-start;
  
          .w-49 {
              width: 47%;
  
            //   &:nth-child(1) {
            //       margin-right: 2%;
            //   }
  
              .behaviorBox {
                  border-radius: 10px;
                  background: $behaviourBack;
  
                  .selValue {
                      padding: 10px 14px;
                      display: grid;
                      grid-template-columns: 1fr 1fr 1fr;
  
                      .valueBox {
                          text-align: center;
                          padding: 8px 29px;
                          border-radius: 7px;
                          cursor: pointer;
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                          @media(max-width:1440px){
                              padding: 8px 10px;  
                          }
  
                          &.active {
                              background: $White_labing_Yellow;
  
                              .values,
                              .type {
                                  color: $white;
                              }
                          }
                          &.activeRight{
                            background: $White_labing_Black;
  
                            .values,
                            .type {
                                color: $white;
                            }
                          }
  
                          .values {
                              font: 600 18px/22px ModernEra;
                              color: $Secondary_Dark;
                          }
  
                          .type {
                              font: 500 14px/17px ModernEra;
                              color: $Secondary_Dark;
                          }
                      }
                  }
                  .margin-bottom{
                      padding: 0px 50px;
                      div{
                          border-bottom: 1px solid $white;
                          width: 100%;
                      }
                  }
                  
              }
          }
          .w-6{
              width: 6%;
              text-align: center;
              padding-top: 120px;
              font: 600 18px/24px Montserrat-Normal;
              color: $Secondary_black;
          }
      }
      .graph{
          margin-top: 20px;
        @include mainBoxwithBack;
        .text-color{
            font: 700 16px/24px Montserrat-Normal;
            color: $Secondary_black;
        }
      }
  }
  
  @media (min-width:862px) and (max-width:1250px) {
    
    .filterBody .filterBtn.cancleBtn{
      margin: 0 10px !important;
    }
}