<section class="card-background">
  <div class="card-background__heading text-center">
    <h2>
      <!-- <span *ngIf="type == 1">{{ "topVehicleScore" | translate }}</span>
      <span *ngIf="type == 2">{{ "bottomVehicle" | translate }}</span>
      <span *ngIf="type == 3">{{ "mostTravelled" | translate }}</span>
      <span *ngIf="type == 4">{{ "vehicleProbableCrash" | translate }}</span> -->
      <span  [autoClose]="true" placement="top" container="body"
      ngbTooltip="{{ 'topVehicleScore' | translate }}" #tooltip3="ngbTooltip" *ngIf="type == 1">{{ "topVehicleScore" | translate }}</span>
      <span  [autoClose]="true" placement="top" container="body"
      ngbTooltip="{{ 'bottomVehicle' | translate }}" #tooltip3="ngbTooltip" *ngIf="type == 2">{{ "bottomVehicle" | translate }}</span>
      <span  [autoClose]="true" placement="top" container="body"
      ngbTooltip="{{ 'mostTravelled' | translate }}" #tooltip3="ngbTooltip" *ngIf="type == 3">{{ "mostTravelled" | translate }}</span>
      <span  [autoClose]="true" placement="top" container="body"
      ngbTooltip="{{ 'vehicleProbableCrash' | translate }}" #tooltip3="ngbTooltip" *ngIf="type == 4">{{ "vehicleProbableCrash" | translate }}</span>
    </h2>
  </div>
  <div class="d-flex w-100" *ngFor="let item of data; let i = index">
    <div
      class="number"
      [ngStyle]="{ border: '1px solid ' + border, background: background }"
    >
      <span> {{ i + 1 }} </span>
    </div>
    <div
      class="card-background__content"
      [ngStyle]="{ border: '1px solid ' + border, background: background }"
    >
      <div class="test d-flex justify-content-center" *ngIf="checkItem(item)">
        <div class="left">
          <span>{{ item?.license_plate }}</span>
        </div>
        <div class="wrapWord" *ngIf="type == 3">
          -
          {{
            service.convertToDutch(service.formatToCeil(item?.total_distance))
          }}
          km
        </div>
        <div class="d-flex wrap-text" *ngIf="type == 1 || type == 2 || type == 4">
          -
          <div class="wrap-text">
            <span *ngIf="type == 4">&nbsp;
              {{ 
                service.convertToDutch(service.formatToCeil(item?.safe_score )) || 'NA'}}
               <span *ngIf="type!=4">-</span></span>
          </div>
         <span class="safeScorefont" *ngIf="type !=4"> &nbsp;{{ service.convertToDutch(item?.safe_score) }}</span>
        </div>
      </div>
      <div class="test" *ngIf="!checkItem(item)">NA</div>
    </div>
  </div>
</section>
